In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('data/bigreant.xlsx')
df.head(1)

,Unnamed: 0,시군구,번지,본번,부번,단지명,전월세구분,전용면적(㎡),계약년월,계약일,보증금(만원),월세(만원),층,건축년도,도로명,계약기간,계약구분,갱신요구권 사용,종전계약 보증금 (만원),종전계약 월세 (만원)
0,0,서울특별시 강남구 개포동,12,12.0,0.0,SH대치1단지아파트,월세,25.35,201803,29,"3,865",17,11,1991.0,개포로109길 5,-,-,-,,

In [3]:
df.drop(['Unnamed: 0','번지','본번','부번','계약기간','계약구분','갱신요구권 사용','종전계약 보증금 (만원)','종전계약 월세 (만원)'], axis=1, inplace=True)

In [4]:
df

,시군구,단지명,전월세구분,전용면적(㎡),계약년월,계약일,보증금(만원),월세(만원),층,건축년도,도로명
0,서울특별시 강남구 개포동,SH대치1단지아파트,월세,25.35,201803,29,"3,865",17,11,1991.0,개포로109길 5
1,서울특별시 강남구 개포동,개포2차현대아파트(220),월세,77.75,201802,3,"39,000",30,4,1988.0,언주로 103
2,서울특별시 강남구 개포동,개포2차현대아파트(220),전세,77.75,201804,11,"52,000",0,9,1988.0,언주로 103
3,서울특별시 강남구 개포동,개포2차현대아파트(220),전세,77.75,201805,15,"50,000",0,5,1988.0,언주로 103
4,서울특별시 강남구 개포동,개포2차현대아파트(220),전세,77.75,201805,24,"56,000",0,9,1988.0,언주로 103
...,...,...,...,...,...,...,...,...,...,...,...
864921,서울특별시 중랑구 중화동,한신아파트(103~109),월세,50.37,202206,30,"4,000",100,13,1997.0,동일로 752
864922,서울특별시 중랑구 중화동,한영(102),월세,58.87,202203,19,"10,000",85,6,2003.0,동일로144길 74
864923,서울특별시 중랑구 중화동,한영(103),전세,87.31,202111,5,"29,400",0,6,2003.0,동일로144길 74
864924,서울특별시 중랑구 중화동,한영(103),전세,56.38,202202,26,"23,000",0,4,2003.0,동일로144길 74
864925,서울특별시 중랑구 중화동,현대휴앤미(102동),월세,64.48,202109,23,"10,000",20,4,2007.0,봉화산로27가길 19

In [11]:
df['계약년월'] = pd.to_datetime(df['계약년월'], format='%Y%m')
df['단지명'] = df['단지명'].str.replace(r'\([^)]*\)', '', regex=True)
df['전용면적(㎡)'] = df['전용면적(㎡)'].round(-1)
df['ID'] = df['시군구'] + ' ' + df['단지명'] + ' ' + df['전용면적(㎡)'].astype('str')

In [12]:
df['분기'], df['년도'] = (df['계약년월'].dt.quarter, df['계약년월'].dt.year)
df

,시군구,단지명,전월세구분,전용면적(㎡),계약년월,계약일,보증금(만원),월세(만원),층,건축년도,도로명,ID,분기,년도
0,서울특별시 강남구 개포동,SH대치1단지아파트,월세,30.0,2018-03-01,29,"3,865",17,11,1991.0,개포로109길 5,서울특별시 강남구 개포동 SH대치1단지아파트 30.0,1,2018
1,서울특별시 강남구 개포동,개포2차현대아파트,월세,80.0,2018-02-01,3,"39,000",30,4,1988.0,언주로 103,서울특별시 강남구 개포동 개포2차현대아파트 80.0,1,2018
2,서울특별시 강남구 개포동,개포2차현대아파트,전세,80.0,2018-04-01,11,"52,000",0,9,1988.0,언주로 103,서울특별시 강남구 개포동 개포2차현대아파트 80.0,2,2018
3,서울특별시 강남구 개포동,개포2차현대아파트,전세,80.0,2018-05-01,15,"50,000",0,5,1988.0,언주로 103,서울특별시 강남구 개포동 개포2차현대아파트 80.0,2,2018
4,서울특별시 강남구 개포동,개포2차현대아파트,전세,80.0,2018-05-01,24,"56,000",0,9,1988.0,언주로 103,서울특별시 강남구 개포동 개포2차현대아파트 80.0,2,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
864921,서울특별시 중랑구 중화동,한신아파트,월세,50.0,2022-06-01,30,"4,000",100,13,1997.0,동일로 752,서울특별시 중랑구 중화동 한신아파트 50.0,2,2022
864922,서울특별시 중랑구 중화동,한영,월세,60.0,2022-03-01,19,"10,000",85,6,2003.0,동일로144길 74,서울특별시 중랑구 중화동 한영 60.0,1,2022
864923,서울특별시 중랑구 중화동,한영,전세,90.0,2021-11-01,5,"29,400",0,6,2003.0,동일로144길 74,서울특별시 중랑구 중화동 한영 90.0,4,2021
864924,서울특별시 중랑구 중화동,한영,전세,60.0,2022-02-01,26,"23,000",0,4,2003.0,동일로144길 74,서울특별시 중랑구 중화동 한영 60.0,1,2022
864925,서울특별시 중랑구 중화동,현대휴앤미,월세,60.0,2021-09-01,23,"10,000",20,4,2007.0,봉화산로27가길 19,서울특별시 중랑구 중화동 현대휴앤미 60.0,3,2021

In [13]:
table1 = pd.pivot_table(df, values=['전용면적(㎡)','보증금(만원)','월세(만원)','건축년도'], index=['년도','분기'], columns=['ID'], aggfunc=np.mean)
table1

                                 건축년도                               \
ID      서울특별시 강남구 개포동 SH대치1단지아파트 30.0 서울특별시 강남구 개포동 개포2차현대아파트 80.0
년도   분기
2018 1                         1991.0                       1988.0
     2                            NaN                       1988.0
     3                         1991.0                       1988.0
     4                            NaN                          NaN
2019 1                            NaN                       1988.0
     2                            NaN                       1988.0
     3                            NaN                       1988.0
     4                            NaN                       1988.0
2020 1                            NaN                       1988.0
     2                            NaN                       1988.0
     3                            NaN                       1988.0
     4                            NaN                       1988.0
2021 1                            NaN                       1988.0
     2                            NaN                       1988.0
     3                            NaN                       1988.0
     4                            NaN                       1988.0
2022 1                            NaN                       1988.0
     2                            NaN                       1988.0

                                                                             \
ID      서울특별시 강남구 개포동 개포6차우성아파트1동~8동 50.0 서울특별시 강남구 개포동 개포6차우성아파트1동~8동 70.0
년도   분기
2018 1                                NaN                            1987.0
     2                             1987.0                            1987.0
     3                             1987.0                            1987.0
     4                             1987.0                            1987.0
2019 1                             1987.0                            1987.0
     2                             1987.0                            1987.0
     3                             1987.0                            1987.0
     4                                NaN                            1987.0
2020 1                             1987.0                               NaN
     2                             1987.0                            1987.0
     3                                NaN                            1987.0
     4                                NaN                            1987.0
2021 1                                NaN                            1987.0
     2                             1987.0                            1987.0
     3                             1987.0                            1987.0
     4                                NaN                            1987.0
2022 1                                NaN                            1987.0
     2                             1987.0                            1987.0

                                                                       \
ID      서울특별시 강남구 개포동 개포6차우성아파트1동~8동 80.0 서울특별시 강남구 개포동 개포더샵트리에 110.0
년도   분기
2018 1                             1987.0                         NaN
     2                             1987.0                         NaN
     3                             1987.0                         NaN
     4                             1987.0                      2021.0
2019 1                             1987.0                         NaN
     2                             1987.0                         NaN
     3                             1987.0                         NaN
     4                             1987.0                         NaN
2020 1                             1987.0                         NaN
     2                             1987.0                         NaN
     3                             1987.0                         NaN
     4                             1987.0                         NaN
2021 1                             1987.0                         NaN
     2                             1987.0                         NaN
     3                             1987.0                         NaN
     4                             1987.0                      2021.0
2022 1                             1987.0                      2021.0
     2                             1987.0                      2021.0

                                                                     \
ID      서울특별시 강남구 개포동 개포래미안포레스트 100.0 서울특별시 강남구 개포동 개포래미안포레스트 110.0
년도   분기
2018 1                            NaN                           NaN
     2                            NaN                           NaN
     3                            NaN                           NaN
     4                            NaN                           NaN
2019 1                            NaN                           NaN
     2                            NaN                           NaN
     3                            NaN                           NaN
     4                            NaN                           NaN
2020 1                            NaN                           NaN
     2                         2020.0                        2020.0
     3                         2020.0                        2020.0
     4                         2020.0                        2020.0
2021 1                         2020.0                        2020.0
     2                         2020.0                        2020.0
     3                         2020.0                           NaN
     4                         2020.0                        2020.0
2022 1                         2020.0                        2020.0
     2                         2020.0                           NaN

                                                                    ...  \
ID      서울특별시 강남구 개포동 개포래미안포레스트 140.0 서울특별시 강남구 개포동 개포래미안포레스트 50.0  ...
년도   분기                                                             ...
2018 1                            NaN                          NaN  ...
     2                            NaN                          NaN  ...
     3                            NaN                          NaN  ...
     4                            NaN                          NaN  ...
2019 1                            NaN                          NaN  ...
     2                            NaN                          NaN  ...
     3                            NaN                          NaN  ...
     4                            NaN                          NaN  ...
2020 1                            NaN                          NaN  ...
     2                            NaN                       2020.0  ...
     3                         2020.0                       2020.0  ...
     4                         2020.0                       2020.0  ...
2021 1                         2020.0                       2020.0  ...
     2                         2020.0                       2020.0  ...
     3                            NaN                       2020.0  ...
     4                            NaN                       2020.0  ...
2022 1                         2020.0                       2020.0  ...
     2                            NaN                       2020.0  ...

                         전용면적(㎡)                           \
ID      서울특별시 중랑구 중화동 한신아파트 50.0 서울특별시 중랑구 중화동 한신아파트 60.0
년도   분기
2018 1                      50.0                     60.0
     2                      50.0                     60.0
     3                      50.0                     60.0
     4                      50.0                     60.0
2019 1                      50.0                     60.0
     2                      50.0                     60.0
     3                      50.0                     60.0
     4                      50.0                     60.0
2020 1                      50.0                     60.0
     2                      50.0                     60.0
     3                      50.0                     60.0
     4                      50.0                     60.0
2021 1                      50.0                     60.0
     2                      50.0                     60.0
     3                      50.0                     60.0
     4                      50.0                     60.0
2022 1                      50.0                     60.0
     2                      50.0                     60.0

                                                                              \
ID      서울특별시 중랑구 중화동 한신아파트 80.0 서울특별시 중랑구 중화동 한영 60.0 서울특별시 중랑구 중화동 한영 70.0
년도   분기
2018 1                      80.0                  60.0                   NaN
     2                      80.0                   NaN                   NaN
     3                      80.0                   NaN                   NaN
     4                      80.0                   NaN                   NaN
2019 1                      80.0                   NaN                  70.0
     2                      80.0                   NaN                   NaN
     3                      80.0                   NaN                  70.0
     4                      80.0                   NaN                   NaN
2020 1                      80.0                   NaN                   NaN
     2                      80.0                   NaN                   NaN
     3                      80.0                   NaN                   NaN
     4                      80.0                   NaN                   NaN
2021 1                      80.0                   NaN                  70.0
     2                      80.0                   NaN                  70.0
     3                      80.0                   NaN                   NaN
     4                      80.0                   NaN                   NaN
2022 1                      80.0                  60.0                   NaN
     2                      80.0                   NaN                   NaN

                                                                               \
ID      서울특별시 중랑구 중화동 한영 80.0 서울특별시 중랑구 중화동 한영 90.0 서울특별시 중랑구 중화동 현대휴앤미 100.0
년도   분기
2018 1                    NaN                   NaN                       NaN
     2                    NaN                   NaN                       NaN
     3                    NaN                   NaN                       NaN
     4                    NaN                   NaN                       NaN
2019 1                   80.0                   NaN                     100.0
     2                   80.0                   NaN                       NaN
     3                    NaN                   NaN                       NaN
     4                    NaN                  90.0                       NaN
2020 1                    NaN                   NaN                       NaN
     2                    NaN                   NaN                       NaN
     3                   80.0                   NaN                       NaN
     4                    NaN                   NaN                       NaN
2021 1                    NaN                   NaN                       NaN
     2                    NaN                   NaN                       NaN
     3                    NaN                   NaN                       NaN
     4                    NaN                  90.0                       NaN
2022 1                    NaN                   NaN                       NaN
     2                    NaN                   NaN                       NaN


ID      서울특별시 중랑구 중화동 현대휴앤미 60.0 서울특별시 중랑구 중화동 현대휴앤미 80.0
년도   분기
2018 1                       NaN                      NaN
     2                       NaN                      NaN
     3                       NaN                      NaN
     4                       NaN                      NaN
2019 1                       NaN                      NaN
     2                       NaN                      NaN
     3                      60.0                      NaN
     4                       NaN                      NaN
2020 1                       NaN                      NaN
     2                       NaN                      NaN
     3                       NaN                      NaN
     4                       NaN                      NaN
2021 1                       NaN                     80.0
     2                       NaN                      NaN
     3                      60.0                      NaN
     4                       NaN                      NaN
2022 1                       NaN                      NaN
     2                       NaN                      NaN

[18 rows x 37067 columns]

In [14]:
# check null 
check_null = table1.isna().sum() / 18

# columns of null ratio >= 0.5
check_null[check_null >= 0.5]
# remove columns of null ratio >= 0.5
remove_cols = check_null[check_null >= 0.5].keys()
table1 = table1.drop(remove_cols, axis=1)

table1

                                건축년도                                    \
ID      서울특별시 강남구 개포동 개포2차현대아파트 80.0 서울특별시 강남구 개포동 개포6차우성아파트1동~8동 50.0
년도   분기
2018 1                        1988.0                               NaN
     2                        1988.0                            1987.0
     3                        1988.0                            1987.0
     4                           NaN                            1987.0
2019 1                        1988.0                            1987.0
     2                        1988.0                            1987.0
     3                        1988.0                            1987.0
     4                        1988.0                               NaN
2020 1                        1988.0                            1987.0
     2                        1988.0                            1987.0
     3                        1988.0                               NaN
     4                        1988.0                               NaN
2021 1                        1988.0                               NaN
     2                        1988.0                            1987.0
     3                        1988.0                            1987.0
     4                        1988.0                               NaN
2022 1                        1988.0                               NaN
     2                        1988.0                            1987.0

                                                                             \
ID      서울특별시 강남구 개포동 개포6차우성아파트1동~8동 70.0 서울특별시 강남구 개포동 개포6차우성아파트1동~8동 80.0
년도   분기
2018 1                             1987.0                            1987.0
     2                             1987.0                            1987.0
     3                             1987.0                            1987.0
     4                             1987.0                            1987.0
2019 1                             1987.0                            1987.0
     2                             1987.0                            1987.0
     3                             1987.0                            1987.0
     4                             1987.0                            1987.0
2020 1                                NaN                            1987.0
     2                             1987.0                            1987.0
     3                             1987.0                            1987.0
     4                             1987.0                            1987.0
2021 1                             1987.0                            1987.0
     2                             1987.0                            1987.0
     3                             1987.0                            1987.0
     4                             1987.0                            1987.0
2022 1                             1987.0                            1987.0
     2                             1987.0                            1987.0

                                                                 \
ID      서울특별시 강남구 개포동 개포래미안포레스트 60.0 서울특별시 강남구 개포동 개포우성3차 100.0
년도   분기
2018 1                           NaN                     1984.0
     2                           NaN                     1984.0
     3                           NaN                     1984.0
     4                           NaN                     1984.0
2019 1                           NaN                     1984.0
     2                           NaN                     1984.0
     3                           NaN                     1984.0
     4                           NaN                     1984.0
2020 1                        2020.0                     1984.0
     2                        2020.0                     1984.0
     3                        2020.0                     1984.0
     4                        2020.0                     1984.0
2021 1                        2020.0                     1984.0
     2                        2020.0                     1984.0
     3                        2020.0                     1984.0
     4                        2020.0                     1984.0
2022 1                        2020.0                     1984.0
     2                        2020.0                     1984.0

                                                               \
ID      서울특별시 강남구 개포동 개포우성3차 130.0 서울특별시 강남구 개포동 개포우성3차 160.0
년도   분기
2018 1                      1984.0                     1984.0
     2                      1984.0                        NaN
     3                      1984.0                     1984.0
     4                      1984.0                     1984.0
2019 1                      1984.0                     1984.0
     2                      1984.0                        NaN
     3                      1984.0                     1984.0
     4                      1984.0                        NaN
2020 1                      1984.0                     1984.0
     2                         NaN                     1984.0
     3                      1984.0                     1984.0
     4                      1984.0                     1984.0
2021 1                      1984.0                     1984.0
     2                      1984.0                     1984.0
     3                         NaN                     1984.0
     4                      1984.0                     1984.0
2022 1                      1984.0                     1984.0
     2                      1984.0                     1984.0

                                                           ...  \
ID      서울특별시 강남구 개포동 개포자이 130.0 서울특별시 강남구 개포동 개포자이 170.0  ...
년도   분기                                                    ...
2018 1                       NaN                   2004.0  ...
     2                    2004.0                   2004.0  ...
     3                    2004.0                   2004.0  ...
     4                    2004.0                   2004.0  ...
2019 1                       NaN                   2004.0  ...
     2                    2004.0                   2004.0  ...
     3                    2004.0                      NaN  ...
     4                    2004.0                   2004.0  ...
2020 1                    2004.0                      NaN  ...
     2                    2004.0                   2004.0  ...
     3                    2004.0                   2004.0  ...
     4                    2004.0                   2004.0  ...
2021 1                    2004.0                   2004.0  ...
     2                    2004.0                   2004.0  ...
     3                    2004.0                      NaN  ...
     4                    2004.0                   2004.0  ...
2022 1                    2004.0                   2004.0  ...
     2                       NaN                      NaN  ...

                           전용면적(㎡)                            \
ID      서울특별시 중랑구 중화동 동양엔파트2차 80.0 서울특별시 중랑구 중화동 미영리치타운 80.0
년도   분기
2018 1                        80.0                       NaN
     2                        80.0                      80.0
     3                        80.0                      80.0
     4                        80.0                      80.0
2019 1                        80.0                      80.0
     2                         NaN                       NaN
     3                        80.0                      80.0
     4                        80.0                      80.0
2020 1                        80.0                      80.0
     2                        80.0                      80.0
     3                        80.0                       NaN
     4                        80.0                      80.0
2021 1                        80.0                      80.0
     2                        80.0                       NaN
     3                        80.0                      80.0
     4                        80.0                       NaN
2022 1                        80.0                      80.0
     2                         NaN                       NaN

                                                              \
ID      서울특별시 중랑구 중화동 범양프레체 20.0 서울특별시 중랑구 중화동 중화동건영아파트 60.0
년도   분기
2018 1                      20.0                        60.0
     2                      20.0                        60.0
     3                      20.0                        60.0
     4                      20.0                        60.0
2019 1                      20.0                        60.0
     2                      20.0                        60.0
     3                      20.0                         NaN
     4                      20.0                        60.0
2020 1                      20.0                        60.0
     2                      20.0                        60.0
     3                      20.0                         NaN
     4                      20.0                        60.0
2021 1                      20.0                        60.0
     2                      20.0                         NaN
     3                      20.0                         NaN
     4                      20.0                        60.0
2022 1                      20.0                        60.0
     2                      20.0                        60.0

                                                            \
ID      서울특별시 중랑구 중화동 청광플러스원 80.0 서울특별시 중랑구 중화동 청원다미소 80.0
년도   분기
2018 1                       80.0                     80.0
     2                        NaN                     80.0
     3                        NaN                      NaN
     4                       80.0                     80.0
2019 1                        NaN                     80.0
     2                       80.0                      NaN
     3                       80.0                     80.0
     4                       80.0                      NaN
2020 1                        NaN                     80.0
     2                       80.0                     80.0
     3                       80.0                      NaN
     4                       80.0                     80.0
2021 1                        NaN                      NaN
     2                       80.0                     80.0
     3                       80.0                     80.0
     4                       80.0                     80.0
2022 1                       80.0                     80.0
     2                        NaN                     80.0

                                                           \
ID      서울특별시 중랑구 중화동 태능에셈빌 80.0 서울특별시 중랑구 중화동 한신아파트 50.0
년도   분기
2018 1                       NaN                     50.0
     2                      80.0                     50.0
     3                      80.0                     50.0
     4                       NaN                     50.0
2019 1                      80.0                     50.0
     2                      80.0                     50.0
     3                      80.0                     50.0
     4                      80.0                     50.0
2020 1                      80.0                     50.0
     2                      80.0                     50.0
     3                      80.0                     50.0
     4                      80.0                     50.0
2021 1                      80.0                     50.0
     2                      80.0                     50.0
     3                      80.0                     50.0
     4                      80.0                     50.0
2022 1                      80.0                     50.0
     2                      80.0                     50.0


ID      서울특별시 중랑구 중화동 한신아파트 60.0 서울특별시 중랑구 중화동 한신아파트 80.0
년도   분기
2018 1                      60.0                     80.0
     2                      60.0                     80.0
     3                      60.0                     80.0
     4                      60.0                     80.0
2019 1                      60.0                     80.0
     2                      60.0                     80.0
     3                      60.0                     80.0
     4                      60.0                     80.0
2020 1                      60.0                     80.0
     2                      60.0                     80.0
     3                      60.0                     80.0
     4                      60.0                     80.0
2021 1                      60.0                     80.0
     2                      60.0                     80.0
     3                      60.0                     80.0
     4                      60.0                     80.0
2022 1                      60.0                     80.0
     2                      60.0                     80.0

[18 rows x 15278 columns]

In [15]:
table1.fillna(method='ffill', inplace=True)
table1.fillna(method='bfill', inplace=True)

In [16]:
table1.round(1)

                                건축년도                                    \
ID      서울특별시 강남구 개포동 개포2차현대아파트 80.0 서울특별시 강남구 개포동 개포6차우성아파트1동~8동 50.0
년도   분기
2018 1                        1988.0                            1987.0
     2                        1988.0                            1987.0
     3                        1988.0                            1987.0
     4                        1988.0                            1987.0
2019 1                        1988.0                            1987.0
     2                        1988.0                            1987.0
     3                        1988.0                            1987.0
     4                        1988.0                            1987.0
2020 1                        1988.0                            1987.0
     2                        1988.0                            1987.0
     3                        1988.0                            1987.0
     4                        1988.0                            1987.0
2021 1                        1988.0                            1987.0
     2                        1988.0                            1987.0
     3                        1988.0                            1987.0
     4                        1988.0                            1987.0
2022 1                        1988.0                            1987.0
     2                        1988.0                            1987.0

                                                                             \
ID      서울특별시 강남구 개포동 개포6차우성아파트1동~8동 70.0 서울특별시 강남구 개포동 개포6차우성아파트1동~8동 80.0
년도   분기
2018 1                             1987.0                            1987.0
     2                             1987.0                            1987.0
     3                             1987.0                            1987.0
     4                             1987.0                            1987.0
2019 1                             1987.0                            1987.0
     2                             1987.0                            1987.0
     3                             1987.0                            1987.0
     4                             1987.0                            1987.0
2020 1                             1987.0                            1987.0
     2                             1987.0                            1987.0
     3                             1987.0                            1987.0
     4                             1987.0                            1987.0
2021 1                             1987.0                            1987.0
     2                             1987.0                            1987.0
     3                             1987.0                            1987.0
     4                             1987.0                            1987.0
2022 1                             1987.0                            1987.0
     2                             1987.0                            1987.0

                                                                 \
ID      서울특별시 강남구 개포동 개포래미안포레스트 60.0 서울특별시 강남구 개포동 개포우성3차 100.0
년도   분기
2018 1                        2020.0                     1984.0
     2                        2020.0                     1984.0
     3                        2020.0                     1984.0
     4                        2020.0                     1984.0
2019 1                        2020.0                     1984.0
     2                        2020.0                     1984.0
     3                        2020.0                     1984.0
     4                        2020.0                     1984.0
2020 1                        2020.0                     1984.0
     2                        2020.0                     1984.0
     3                        2020.0                     1984.0
     4                        2020.0                     1984.0
2021 1                        2020.0                     1984.0
     2                        2020.0                     1984.0
     3                        2020.0                     1984.0
     4                        2020.0                     1984.0
2022 1                        2020.0                     1984.0
     2                        2020.0                     1984.0

                                                               \
ID      서울특별시 강남구 개포동 개포우성3차 130.0 서울특별시 강남구 개포동 개포우성3차 160.0
년도   분기
2018 1                      1984.0                     1984.0
     2                      1984.0                     1984.0
     3                      1984.0                     1984.0
     4                      1984.0                     1984.0
2019 1                      1984.0                     1984.0
     2                      1984.0                     1984.0
     3                      1984.0                     1984.0
     4                      1984.0                     1984.0
2020 1                      1984.0                     1984.0
     2                      1984.0                     1984.0
     3                      1984.0                     1984.0
     4                      1984.0                     1984.0
2021 1                      1984.0                     1984.0
     2                      1984.0                     1984.0
     3                      1984.0                     1984.0
     4                      1984.0                     1984.0
2022 1                      1984.0                     1984.0
     2                      1984.0                     1984.0

                                                           ...  \
ID      서울특별시 강남구 개포동 개포자이 130.0 서울특별시 강남구 개포동 개포자이 170.0  ...
년도   분기                                                    ...
2018 1                    2004.0                   2004.0  ...
     2                    2004.0                   2004.0  ...
     3                    2004.0                   2004.0  ...
     4                    2004.0                   2004.0  ...
2019 1                    2004.0                   2004.0  ...
     2                    2004.0                   2004.0  ...
     3                    2004.0                   2004.0  ...
     4                    2004.0                   2004.0  ...
2020 1                    2004.0                   2004.0  ...
     2                    2004.0                   2004.0  ...
     3                    2004.0                   2004.0  ...
     4                    2004.0                   2004.0  ...
2021 1                    2004.0                   2004.0  ...
     2                    2004.0                   2004.0  ...
     3                    2004.0                   2004.0  ...
     4                    2004.0                   2004.0  ...
2022 1                    2004.0                   2004.0  ...
     2                    2004.0                   2004.0  ...

                           전용면적(㎡)                            \
ID      서울특별시 중랑구 중화동 동양엔파트2차 80.0 서울특별시 중랑구 중화동 미영리치타운 80.0
년도   분기
2018 1                        80.0                      80.0
     2                        80.0                      80.0
     3                        80.0                      80.0
     4                        80.0                      80.0
2019 1                        80.0                      80.0
     2                        80.0                      80.0
     3                        80.0                      80.0
     4                        80.0                      80.0
2020 1                        80.0                      80.0
     2                        80.0                      80.0
     3                        80.0                      80.0
     4                        80.0                      80.0
2021 1                        80.0                      80.0
     2                        80.0                      80.0
     3                        80.0                      80.0
     4                        80.0                      80.0
2022 1                        80.0                      80.0
     2                        80.0                      80.0

                                                              \
ID      서울특별시 중랑구 중화동 범양프레체 20.0 서울특별시 중랑구 중화동 중화동건영아파트 60.0
년도   분기
2018 1                      20.0                        60.0
     2                      20.0                        60.0
     3                      20.0                        60.0
     4                      20.0                        60.0
2019 1                      20.0                        60.0
     2                      20.0                        60.0
     3                      20.0                        60.0
     4                      20.0                        60.0
2020 1                      20.0                        60.0
     2                      20.0                        60.0
     3                      20.0                        60.0
     4                      20.0                        60.0
2021 1                      20.0                        60.0
     2                      20.0                        60.0
     3                      20.0                        60.0
     4                      20.0                        60.0
2022 1                      20.0                        60.0
     2                      20.0                        60.0

                                                            \
ID      서울특별시 중랑구 중화동 청광플러스원 80.0 서울특별시 중랑구 중화동 청원다미소 80.0
년도   분기
2018 1                       80.0                     80.0
     2                       80.0                     80.0
     3                       80.0                     80.0
     4                       80.0                     80.0
2019 1                       80.0                     80.0
     2                       80.0                     80.0
     3                       80.0                     80.0
     4                       80.0                     80.0
2020 1                       80.0                     80.0
     2                       80.0                     80.0
     3                       80.0                     80.0
     4                       80.0                     80.0
2021 1                       80.0                     80.0
     2                       80.0                     80.0
     3                       80.0                     80.0
     4                       80.0                     80.0
2022 1                       80.0                     80.0
     2                       80.0                     80.0

                                                           \
ID      서울특별시 중랑구 중화동 태능에셈빌 80.0 서울특별시 중랑구 중화동 한신아파트 50.0
년도   분기
2018 1                      80.0                     50.0
     2                      80.0                     50.0
     3                      80.0                     50.0
     4                      80.0                     50.0
2019 1                      80.0                     50.0
     2                      80.0                     50.0
     3                      80.0                     50.0
     4                      80.0                     50.0
2020 1                      80.0                     50.0
     2                      80.0                     50.0
     3                      80.0                     50.0
     4                      80.0                     50.0
2021 1                      80.0                     50.0
     2                      80.0                     50.0
     3                      80.0                     50.0
     4                      80.0                     50.0
2022 1                      80.0                     50.0
     2                      80.0                     50.0


ID      서울특별시 중랑구 중화동 한신아파트 60.0 서울특별시 중랑구 중화동 한신아파트 80.0
년도   분기
2018 1                      60.0                     80.0
     2                      60.0                     80.0
     3                      60.0                     80.0
     4                      60.0                     80.0
2019 1                      60.0                     80.0
     2                      60.0                     80.0
     3                      60.0                     80.0
     4                      60.0                     80.0
2020 1                      60.0                     80.0
     2                      60.0                     80.0
     3                      60.0                     80.0
     4                      60.0                     80.0
2021 1                      60.0                     80.0
     2                      60.0                     80.0
     3                      60.0                     80.0
     4                      60.0                     80.0
2022 1                      60.0                     80.0
     2                      60.0                     80.0

[18 rows x 15278 columns]

In [17]:
table1.to_excel('data/rent.xlsx')