In [3]:
import pandas as pd
import numpy as np

df = pd.read_excel('data/인덱스있는버전(매매만).xlsx')
df.head()

,ID,시군구,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,거래유형
0,서울특별시 강남구 개포동 개포6차우성아파트1동~8동 80,서울특별시 강남구 개포동,개포6차우성아파트1동~8동,80,201801,3,"130,000",4,1987,언주로 3,-
1,서울특별시 동작구 신대방동 롯데관악타워 150,서울특별시 동작구 신대방동,롯데관악타워,150,201801,4,"74,000",27,1996,보라매로5길 51,-
2,서울특별시 동작구 신대방동 경남교수 80,서울특별시 동작구 신대방동,경남교수,80,201801,25,"65,000",17,2001,여의대방로10길 14,-
3,서울특별시 동작구 상도동 힐스테이트 상도 프레스티지 80,서울특별시 동작구 상도동,힐스테이트 상도 프레스티지,80,201801,27,"85,800",15,2013,상도로 346-2,-
4,서울특별시 동작구 상도동 힐스테이트 상도 프레스티지 120,서울특별시 동작구 상도동,힐스테이트 상도 프레스티지,120,201801,24,"104,500",12,2013,상도로 346-2,-

In [ ]:
# 아파트 : 전용면적 기준, 
# area1) 40㎡이하, 
# area2) 40㎡초과~60㎡이하, 
# area3) 60㎡초과~85㎡이하, 
# area4) 85㎡초과~102㎡이하,
# area5) 102㎡초과~135㎡이하, 
# area6) 135㎡초과

In [18]:
df.tail()

,ID,시군구,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,거래유형
285394,서울특별시 강남구 삼성동 삼성동힐스테이트 1단지 30,서울특별시 강남구 삼성동,삼성동힐스테이트 1단지,30,202206,20,"126,000",15,2008,학동로68길 29,중개거래
285395,서울특별시 노원구 공릉동 태강아파트 50,서울특별시 노원구 공릉동,태강아파트,50,202206,26,"60,000",5,1999,공릉로34길 62,중개거래
285396,서울특별시 노원구 공릉동 태강아파트 60,서울특별시 노원구 공릉동,태강아파트,60,202206,21,"70,500",4,1999,공릉로34길 62,중개거래
285397,서울특별시 동작구 대방동 보라매센트럴타운 20,서울특별시 동작구 대방동,보라매센트럴타운,20,202206,8,"27,550",7,2021,여의대방로 200,중개거래
285398,서울특별시 용산구 문배동 용산큐브 10,서울특별시 용산구 문배동,용산큐브,10,202206,13,"20,000",17,2013,백범로90길 12,중개거래

In [60]:
# area1) 40㎡이하, 

area1 = df.loc[df['전용면적(㎡)'] <= 40]
area1

,ID,시군구,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,거래유형
169,서울특별시 동작구 상도동 건영 30,서울특별시 동작구 상도동,건영,30,201801,10,"32,800",17,1997,만양로 26,-
181,서울특별시 동작구 상도동 건영 30,서울특별시 동작구 상도동,건영,30,201801,26,"32,700",3,1997,만양로 26,-
183,서울특별시 동작구 상도동 건영 30,서울특별시 동작구 상도동,건영,30,201801,25,"29,500",9,1997,만양로 26,-
222,서울특별시 동작구 상도동 씨티아모리움 10,서울특별시 동작구 상도동,씨티아모리움,10,201801,9,"15,800",4,2012,상도로62길 81-1,-
226,서울특별시 동작구 상도동 상도휴엔하임 20,서울특별시 동작구 상도동,상도휴엔하임,20,201801,31,"19,000",12,2016,상도로15길 131,-
...,...,...,...,...,...,...,...,...,...,...,...
285391,서울특별시 동작구 대방동 보라매센트럴타운 20,서울특별시 동작구 대방동,보라매센트럴타운,20,202206,8,"27,700",10,2021,여의대방로 200,중개거래
285392,서울특별시 동작구 대방동 보라매센트럴타운 20,서울특별시 동작구 대방동,보라매센트럴타운,20,202206,8,"27,700",10,2021,여의대방로 200,중개거래
285394,서울특별시 강남구 삼성동 삼성동힐스테이트 1단지 30,서울특별시 강남구 삼성동,삼성동힐스테이트 1단지,30,202206,20,"126,000",15,2008,학동로68길 29,중개거래
285397,서울특별시 동작구 대방동 보라매센트럴타운 20,서울특별시 동작구 대방동,보라매센트럴타운,20,202206,8,"27,550",7,2021,여의대방로 200,중개거래
285398,서울특별시 용산구 문배동 용산큐브 10,서울특별시 용산구 문배동,용산큐브,10,202206,13,"20,000",17,2013,백범로90길 12,중개거래

In [46]:
# area2) 40㎡초과~60㎡이하, 

area2 = df['전용면적(㎡)'] > 40
area3 = df['전용면적(㎡)'] <= 60

# df.loc[area2 & area3]
area2 = df.loc[area2 & area3]
area2

,ID,시군구,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,거래유형
30,서울특별시 동작구 신대방동 보라매e편한세상 60,서울특별시 동작구 신대방동,보라매e편한세상,60,201801,15,"64,000",15,2010,보라매로 70,-
31,서울특별시 동작구 신대방동 보라매e편한세상 60,서울특별시 동작구 신대방동,보라매e편한세상,60,201801,10,"57,000",9,2010,보라매로 70,-
32,서울특별시 동작구 신대방동 벽산 60,서울특별시 동작구 신대방동,벽산,60,201801,13,"37,500",4,1997,여의대방로22길 24,-
33,서울특별시 동작구 신대방동 롯데낙천대 60,서울특별시 동작구 신대방동,롯데낙천대,60,201801,27,"50,000",4,2003,여의대방로10길 38,-
34,서울특별시 동작구 신대방동 롯데낙천대 60,서울특별시 동작구 신대방동,롯데낙천대,60,201801,27,"53,000",3,2003,여의대방로10길 38,-
...,...,...,...,...,...,...,...,...,...,...,...
285369,서울특별시 성북구 돈암동 돈암동삼성 60,서울특별시 성북구 돈암동,돈암동삼성,60,202206,5,"75,500",12,1999,동소문로34길 24,중개거래
285370,서울특별시 성북구 돈암동 돈암동삼성 60,서울특별시 성북구 돈암동,돈암동삼성,60,202206,5,"75,000",13,1999,동소문로34길 24,중개거래
285386,서울특별시 중구 회현동1가 이지-빌 60,서울특별시 중구 회현동1가,이지-빌,60,202206,3,"43,500",3,2006,퇴계로8길 65-3,중개거래
285395,서울특별시 노원구 공릉동 태강아파트 50,서울특별시 노원구 공릉동,태강아파트,50,202206,26,"60,000",5,1999,공릉로34길 62,중개거래
285396,서울특별시 노원구 공릉동 태강아파트 60,서울특별시 노원구 공릉동,태강아파트,60,202206,21,"70,500",4,1999,공릉로34길 62,중개거래

In [53]:
# area3) 60㎡초과~85㎡이하, 

area3 = df['전용면적(㎡)'] > 60
area4 = df['전용면적(㎡)'] <= 85

area3 = df.loc[area3 & area4]
area3

,ID,시군구,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,거래유형
0,서울특별시 강남구 개포동 개포6차우성아파트1동~8동 80,서울특별시 강남구 개포동,개포6차우성아파트1동~8동,80,201801,3,"130,000",4,1987,언주로 3,-
2,서울특별시 동작구 신대방동 경남교수 80,서울특별시 동작구 신대방동,경남교수,80,201801,25,"65,000",17,2001,여의대방로10길 14,-
3,서울특별시 동작구 상도동 힐스테이트 상도 프레스티지 80,서울특별시 동작구 상도동,힐스테이트 상도 프레스티지,80,201801,27,"85,800",15,2013,상도로 346-2,-
5,서울특별시 동작구 상도동 힐스테이트 상도 프레스티지 80,서울특별시 동작구 상도동,힐스테이트 상도 프레스티지,80,201801,24,"85,000",18,2013,상도로 346-2,-
6,서울특별시 동작구 상도동 힐스테이트 상도 프레스티지 80,서울특별시 동작구 상도동,힐스테이트 상도 프레스티지,80,201801,24,"82,000",12,2013,상도로 346-2,-
...,...,...,...,...,...,...,...,...,...,...,...
285372,서울특별시 중구 충무로4가 진양상가 70,서울특별시 중구 충무로4가,진양상가,70,202206,3,"53,500",5,1970,퇴계로 217,중개거래
285373,서울특별시 강서구 내발산동 우장산힐스테이트 80,서울특별시 강서구 내발산동,우장산힐스테이트,80,202206,1,"138,000",4,2005,강서로 348,중개거래
285374,서울특별시 노원구 공릉동 참다움아파트 70,서울특별시 노원구 공릉동,참다움아파트,70,202206,3,"43,500",6,2012,동일로190길 11,중개거래
285378,서울특별시 영등포구 당산동3가 쌍용예가클래식 70,서울특별시 영등포구 당산동3가,쌍용예가클래식,70,202206,5,"117,500",8,2010,당산로31길 32,중개거래
285385,서울특별시 영등포구 당산동4가 당산금호어울림 80,서울특별시 영등포구 당산동4가,당산금호어울림,80,202206,2,"133,000",7,2002,국회대로37길 22,중개거래

In [54]:
# area4) 85㎡초과~102㎡이하,

area4 = df['전용면적(㎡)'] > 85
area5 = df['전용면적(㎡)'] <= 102

area4 = df.loc[area4 & area5]
area4

,ID,시군구,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,거래유형
165,서울특별시 동작구 사당동 이수자이 90,서울특별시 동작구 사당동,이수자이,90,201801,27,"90,000",15,2010,사당로 300,-
305,서울특별시 마포구 상암동 상암월드컵파크6단지 100,서울특별시 마포구 상암동,상암월드컵파크6단지,100,201801,27,"89,900",9,2005,상암산로1길 57,-
306,서울특별시 마포구 상암동 상암월드컵파크6단지 100,서울특별시 마포구 상암동,상암월드컵파크6단지,100,201801,27,"94,700",11,2005,상암산로1길 57,-
307,서울특별시 마포구 상암동 상암월드컵파크6단지 100,서울특별시 마포구 상암동,상암월드컵파크6단지,100,201801,24,"87,000",4,2005,상암산로1길 57,-
308,서울특별시 마포구 상암동 상암월드컵파크6단지 100,서울특별시 마포구 상암동,상암월드컵파크6단지,100,201801,22,"86,750",14,2005,상암산로1길 57,-
...,...,...,...,...,...,...,...,...,...,...,...
284924,서울특별시 구로구 구로동 극동 90,서울특별시 구로구 구로동,극동,90,202206,3,"67,900",10,1984,구로중앙로7길 28,중개거래
285020,서울특별시 서초구 잠원동 래미안신반포팰리스 100,서울특별시 서초구 잠원동,래미안신반포팰리스,100,202206,1,"410,000",27,2016,잠원로8길 35,중개거래
285168,서울특별시 양천구 신월동 홍익아파트 90,서울특별시 양천구 신월동,홍익아파트,90,202206,17,"58,500",3,2004,오목로17길 12,중개거래
285363,서울특별시 서대문구 연희동 은하 100,서울특별시 서대문구 연희동,은하,100,202206,8,"30,000",1,1971,연희로15길 127,중개거래
285376,서울특별시 영등포구 당산동5가 당산삼성래미안4차 100,서울특별시 영등포구 당산동5가,당산삼성래미안4차,100,202206,28,"174,000",6,2003,당산로 214,중개거래

In [55]:
# area5) 102㎡초과~135㎡이하, 

area5 = df['전용면적(㎡)'] > 102
area6 = df['전용면적(㎡)'] <= 135

area5 = df.loc[area5 & area6]
area5

,ID,시군구,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,거래유형
4,서울특별시 동작구 상도동 힐스테이트 상도 프레스티지 120,서울특별시 동작구 상도동,힐스테이트 상도 프레스티지,120,201801,24,"104,500",12,2013,상도로 346-2,-
13,서울특별시 동작구 상도동 힐스테이트 상도 프레스티지 120,서울특별시 동작구 상도동,힐스테이트 상도 프레스티지,120,201801,15,"96,000",13,2013,상도로 346-2,-
14,서울특별시 동작구 상도동 힐스테이트 상도 프레스티지 120,서울특별시 동작구 상도동,힐스테이트 상도 프레스티지,120,201801,15,"100,500",10,2013,상도로 346-2,-
24,서울특별시 동작구 신대방동 보라매아카데미타워 120,서울특별시 동작구 신대방동,보라매아카데미타워,120,201801,22,"59,700",32,1998,보라매로5가길 16,-
25,서울특별시 동작구 신대방동 보라매삼성쉐르빌 120,서울특별시 동작구 신대방동,보라매삼성쉐르빌,120,201801,23,"72,500",20,2003,보라매로5길 43,-
...,...,...,...,...,...,...,...,...,...,...,...
285366,서울특별시 성북구 돈암동 돈암동해피트리 130,서울특별시 성북구 돈암동,돈암동해피트리,130,202206,18,"124,000",8,2013,아리랑로5길 92,중개거래
285368,서울특별시 동작구 대방동 한국개나리 110,서울특별시 동작구 대방동,한국개나리,110,202206,2,"101,000",8,1997,여의대방로62길 15,중개거래
285377,서울특별시 영등포구 당산동5가 당산삼성래미안4차 120,서울특별시 영등포구 당산동5가,당산삼성래미안4차,120,202206,16,"180,000",8,2003,당산로 214,중개거래
285379,서울특별시 중구 회현동1가 남산롯데캐슬아이리스 130,서울특별시 중구 회현동1가,남산롯데캐슬아이리스,130,202206,9,"225,000",29,2011,소공로 35,중개거래
285393,서울특별시 강남구 삼성동 삼성동힐스테이트 1단지 110,서울특별시 강남구 삼성동,삼성동힐스테이트 1단지,110,202206,30,"345,000",11,2008,학동로68길 29,중개거래

In [66]:
# area6) 135㎡초과

area6 = df.loc[df['전용면적(㎡)'] > 135]
area6

,ID,시군구,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,거래유형
1,서울특별시 동작구 신대방동 롯데관악타워 150,서울특별시 동작구 신대방동,롯데관악타워,150,201801,4,"74,000",27,1996,보라매로5길 51,-
26,서울특별시 동작구 신대방동 보라매삼성쉐르빌 160,서울특별시 동작구 신대방동,보라매삼성쉐르빌,160,201801,16,"82,500",40,2003,보라매로5길 43,-
49,서울특별시 동작구 상도동 포스코더샵 160,서울특별시 동작구 상도동,포스코더샵,160,201801,27,"90,000",1,2007,장승배기로4길 9,-
73,서울특별시 동작구 상도동 포스코더샵 150,서울특별시 동작구 상도동,포스코더샵,150,201801,17,"97,750",14,2007,장승배기로4길 9,-
122,서울특별시 동작구 신대방동 우성1 160,서울특별시 동작구 신대방동,우성1,160,201801,16,"82,800",15,1988,여의대방로 22,-
...,...,...,...,...,...,...,...,...,...,...,...
285148,서울특별시 서초구 방배동 삼익 150,서울특별시 서초구 방배동,삼익,150,202206,2,"282,000",6,1981,효령로34길 79,중개거래
285245,서울특별시 서초구 서초동 삼성서초가든스위트 160,서울특별시 서초구 서초동,삼성서초가든스위트,160,202206,23,"348,000",19,2000,서운로 122,중개거래
285294,서울특별시 서초구 서초동 삼풍아파트 160,서울특별시 서초구 서초동,삼풍아파트,160,202206,10,"425,000",15,1988,서초중앙로 200,중개거래
285295,서울특별시 서초구 서초동 삼풍아파트 160,서울특별시 서초구 서초동,삼풍아파트,160,202206,25,"390,000",2,1988,서초중앙로 200,중개거래
285353,서울특별시 강남구 삼성동 상지리츠빌카일룸(65-4) 240,서울특별시 강남구 삼성동,상지리츠빌카일룸(65-4),240,202206,27,"545,000",6,2012,삼성로 636,중개거래

In [67]:
print(len(area1))
print(len(area2))
print(len(area3))
print(len(area4))
print(len(area5))
print(len(area6))

31186
89094
113245
9027
30412
12435