In [2]:
import pandas as pd
import numpy as np

In [116]:
apt1 = pd.DataFrame([['rasfaf', '\sfna;^', '*()'],
                     ['abcde', 'asdf',    ';k;k'],
                     ['abcde', 'asdf',    ';k;k'],
                     ['abcde', 'asdf',    ';k;k'],
                     ['abcde', 'asdf',    ';k;k']],
                   columns=['아파트소재지', '아파트주소', '아파트번호'])
apt1

   아파트소재지    아파트주소 아파트번호
0  rasfaf  \sfna;^   *()
1   abcde     asdf  ;k;k
2   abcde     asdf  ;k;k
3   abcde     asdf  ;k;k
4   abcde     asdf  ;k;k

In [13]:
apt2 = pd.DataFrame({'ID':[20190103, 20190222, 20190531],
                     'name':['Test1', 'Test2', 'Test3'],
                     'class' : ['H', 'W', 'S']})
apt2

         ID   name class
0  20190103  Test1     H
1  20190222  Test2     W
2  20190531  Test3     S

In [3]:
little_str = """@@ Once when I was six years old I saw a magnificent picture in a book,
                called True Stories from Nature, about the primeval forest. ##
                It was a picture of a boa constrictor [in the act of swallowing an animal].
                Here is a copy of the drawing. In the book it said: Boa constrictors swallow
                their prey whole, without chewing it. {After that they are not able to move},
                and they sleep through the six months that they need for digestion.
                I pondered deeply, then, over the adventures of the jungle.
                And after some work with a colored pencil I succeeded in making my first drawing.
                My Drawing Number One. It looked like this:
                I showed my masterpiece to the grown−ups, and asked them whether the drawing
                frightened them. -_-_-_-_-_-_-_-_-
                https://books-library.net/files/books-library.online-12201041Ti6B3.pdf
                RT[2938asdfauej;;oijl2498==z2@3]"""
Once_1 = 'Once more once chance o nce given'
Once_2 = '(Once) more (once) chance (o nce) given'

In [4]:
import re

re.match('Once', little_str)
print(re.match('Once', 'Once more'))
print(re.match('Once', 'Oncemore'))
print(re.match('Once', 'more Once'))
print(re.match('Once', 'moreOnce'))

<re.Match object; span=(0, 4), match='Once'>
<re.Match object; span=(0, 4), match='Once'>
None
None

In [124]:
#re.sub('Once|once|o nce', 'Twice', Once_1)
#re.sub(r'((Once)|(once)|(o nce))', 'Twice', Once_2)
re.sub(r'(\(Once\)|\(once\)|\(o nce\))', 'Twice', Once_2)

'Twice more Twice chance Twice given'

In [125]:
little_str

'@@ Once when I was six years old I saw a magnificent picture in a book,\n                called True Stories from Nature, about the primeval forest. ##\n                It was a picture of a boa constrictor [in the act of swallowing an animal].\n                Here is a copy of the drawing. In the book it said: Boa constrictors swallow\n                their prey whole, without chewing it. {After that they are not able to move},\n                and they sleep through the six months that they need for digestion.\n                I pondered deeply, then, over the adventures of the jungle.\n                And after some work with a colored pencil I succeeded in making my first drawing.\n                My Drawing Number One. It looked like this:\n                I showed my masterpiece to the grown−ups, and asked them whether the drawing\n                frightened them. -_-_-_-_-_-_-_-_-\n                https://books-library.net/files/books-library.online-12201041Ti6B3.pdf\n                RT[2938asdfauej;;oijl2498==z2@3]'

In [128]:
def text_cleaner(text) :
    text = re.sub(r"\n"," ",text)
    text = re.sub(r"\t"," ",text)
    text = re.sub(r"\r"," ",text)
    text = re.sub(r"(@)|(#)|(RT[\s]+)|(https?:\/\/\S+)|([^a-zA-Z0-9 -])|(\-)", "", text)
    text = text.strip(" ")
    return text

text_cleaner(little_str)

'Once when I was six years old I saw a magnificent picture in a book                 called True Stories from Nature about the primeval forest                  It was a picture of a boa constrictor in the act of swallowing an animal                 Here is a copy of the drawing In the book it said Boa constrictors swallow                 their prey whole without chewing it After that they are not able to move                 and they sleep through the six months that they need for digestion                 I pondered deeply then over the adventures of the jungle                 And after some work with a colored pencil I succeeded in making my first drawing                 My Drawing Number One It looked like this                 I showed my masterpiece to the grownups and asked them whether the drawing                 frightened them                                   RT2938asdfauejoijl2498z23'

In [11]:
text1 = re.sub(r"\d"," ", little_str) #decimal [0-9]
text2 = re.sub(r"\D"," ", little_str) #not decimal [^0-9]
text3 = re.sub(r"\s"," ", little_str) #[ \t\n\r\f\v]
text4 = re.sub(r"\S"," ", little_str) #[^ \t\n\r\f\v]
text5 = re.sub(r"\w"," ", little_str) #word a-zA-Z0-9
text6 = re.sub(r"\W"," ", little_str) #(^a-zA-Z0-9)
text2

'                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 12201041  6 3                        2938              2498   2 3 '

In [7]:
pattern = re.sub(r"@[A-Za-z0-9\-\.\_]+", '', little_str)
pattern

'@@ Once when I was six years old I saw a magnificent picture in a book,\n                called True Stories from Nature, about the primeval forest. ##\n                It was a picture of a boa constrictor [in the act of swallowing an animal].\n                Here is a copy of the drawing. In the book it said: Boa constrictors swallow\n                their prey whole, without chewing it. {After that they are not able to move},\n                and they sleep through the six months that they need for digestion.\n                I pondered deeply, then, over the adventures of the jungle.\n                And after some work with a colored pencil I succeeded in making my first drawing.\n                My Drawing Number One. It looked like this:\n                I showed my masterpiece to the grown−ups, and asked them whether the drawing\n                frightened them. -_-_-_-_-_-_-_-_-\n                https://books-library.net/files/books-library.online-12201041Ti6B3.pdf\n                RT[2938asdfauej;;oijl2498==z2]'

In [9]:
re.sub(r"[a-zA-Z0-9]",'', little_str)

'@@               ,\n                    ,    . ##\n                        [      ].\n                      .     :   \n                  ,   . {       },\n                           .\n                  , ,      .\n                              .\n                   .    :\n                      −,      \n                 . -_-_-_-_-_-_-_-_-\n                ://-.//-.-.\n                [;;==@]'