In [128]:
import pandas as pd

In [129]:
data = pd.read_excel('data/아파트(매매)_실거래가_20220721131644.xlsx')

In [130]:
data.drop(['번지', '본번', '부번', '해제사유발생일', '거래유형', '중개사소재지'], axis=1, inplace=True)
data.head()

,시군구,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명
0,서울특별시 강남구 개포동,개포6차우성아파트1동~8동,79.97,202108,11,"200,000",3,1987,언주로 3
1,서울특별시 강남구 개포동,개포6차우성아파트1동~8동,79.97,202109,2,"220,000",2,1987,언주로 3
2,서울특별시 강남구 개포동,개포6차우성아파트1동~8동,79.97,202112,4,"215,000",3,1987,언주로 3
3,서울특별시 강남구 개포동,개포6차우성아파트1동~8동,79.97,202204,12,"220,000",4,1987,언주로 3
4,서울특별시 강남구 개포동,개포6차우성아파트1동~8동,79.97,202204,21,"220,000",2,1987,언주로 3

In [131]:
address = data['시군구']
for i in range(len(address)):
    a = address[i].split(' ')
    address[i] = " ".join(a[0:2])

C:\Users\medici\AppData\Local\Temp/ipykernel_3748/1700582658.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  address[i] = " ".join(a[0:2])

In [132]:
address.head()

0    서울특별시 강남구
1    서울특별시 강남구
2    서울특별시 강남구
3    서울특별시 강남구
4    서울특별시 강남구
Name: 시군구, dtype: object

In [133]:
data['도로명주소'] = address + ' ' + data['도로명']

In [134]:
data.head()

,시군구,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,도로명주소
0,서울특별시 강남구,개포6차우성아파트1동~8동,79.97,202108,11,"200,000",3,1987,언주로 3,서울특별시 강남구 언주로 3
1,서울특별시 강남구,개포6차우성아파트1동~8동,79.97,202109,2,"220,000",2,1987,언주로 3,서울특별시 강남구 언주로 3
2,서울특별시 강남구,개포6차우성아파트1동~8동,79.97,202112,4,"215,000",3,1987,언주로 3,서울특별시 강남구 언주로 3
3,서울특별시 강남구,개포6차우성아파트1동~8동,79.97,202204,12,"220,000",4,1987,언주로 3,서울특별시 강남구 언주로 3
4,서울특별시 강남구,개포6차우성아파트1동~8동,79.97,202204,21,"220,000",2,1987,언주로 3,서울특별시 강남구 언주로 3

In [135]:
address = data['도로명주소']
for i in range(len(address)):
    a = address[i].split(' ')
    address[i] = " ".join(a[0:4])

C:\Users\medici\AppData\Local\Temp/ipykernel_3748/1334034492.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  address[i] = " ".join(a[0:4])

In [136]:
from geopy.geocoders import Nominatim
geo_local = Nominatim(user_agent='South Korea')

In [137]:
# 위도, 경도 반환하는 함수
def geocoding(address):
    geo = geo_local.geocode(address)
    x_y = [geo.latitude, geo.longitude]
    return x_y

In [138]:
data.to_excel('data/아파트(매매)_실거래가.xlsx')

In [ ]:
latitude = []
longitude =[]
exception_addr = []
cnt = 0

for i in address:
    try:
        latitude.append(geocoding(i)[0])
        longitude.append(geocoding(i)[1])
    except:
        exception_addr.append(i)

In [127]:
exception_addr

['서울특별시 강남구 학동로105길 30', '서울특별시 강남구 학동로105길 30', '서울특별시 강남구 학동로105길 30']

In [69]:
adr = pd.DataFrame(['서울특별시 강남구 언주로 3'])
adr = adr[0]
adr
xy = geo_local.geocode(adr)
print(xy)

None

In [17]:
len(latitude), len(longitude)

(5, 5)

In [23]:
address_df = pd.DataFrame({'위도':latitude, '경도':longitude})
addr = pd.concat([data, address_df], axis=1)
addr = addr[0:5]
addr

,시군구,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,도로명주소,위도,경도
0,서울특별시 강남구,개포6차우성아파트1동~8동,79.97,202108,11,"200,000",3,1987,언주로 3,서울특별시 강남구 언주로 3,37.483372,127.053437
1,서울특별시 강남구,개포6차우성아파트1동~8동,79.97,202109,2,"220,000",2,1987,언주로 3,서울특별시 강남구 언주로 3,37.483372,127.053437
2,서울특별시 강남구,개포6차우성아파트1동~8동,79.97,202112,4,"215,000",3,1987,언주로 3,서울특별시 강남구 언주로 3,37.483372,127.053437
3,서울특별시 강남구,개포6차우성아파트1동~8동,79.97,202204,12,"220,000",4,1987,언주로 3,서울특별시 강남구 언주로 3,37.483372,127.053437
4,서울특별시 강남구,개포6차우성아파트1동~8동,79.97,202204,21,"220,000",2,1987,언주로 3,서울특별시 강남구 언주로 3,37.483372,127.053437

In [13]:
stay = pd.read_csv('data/서울교통공사_1_8호선 역사 좌표(위경도) 정보_20211231.csv', encoding='cp949')
stay

      연번  호선   역번호      역명         위도          경도     데이터기준일자
0      1   1   150      서울  37.553150  126.972533  1974-02-28
1      2   1   151      시청  37.563590  126.975407  1974-08-15
2      3   1   152      종각  37.570203  126.983116  1974-08-15
3      4   1   153    종로3가  37.570429  126.992095  1974-08-15
4      5   1   154    종로5가  37.570971  127.001900  1974-03-31
..   ...  ..   ...     ...        ...         ...         ...
271  272   8  2823  남한산성입구  37.451568  127.159845  1996-10-31
272  273   8  2824   단대오거리  37.445057  127.156735  1996-12-28
273  274   8  2825      신흥  37.440952  127.147590  1996-12-28
274  275   8  2826      수진  37.437575  127.140936  1996-12-28
275  276   8  2827      모란  37.433888  127.129921  1996-11-30

[276 rows x 7 columns]

In [24]:
stay.iloc[0, 4:6]

위도      37.55315
경도    126.972533
Name: 0, dtype: object

In [26]:
from haversine import haversine

stay1 = stay.iloc[0, 4:6]
addr1 = addr.iloc[0,10:12]

haversine(stay1, addr1, unit = 'km') # haversine 함수는 위도, 경도 순서로 넣어야함.

10.541096412086448

In [25]:
addr.iloc[0,10:12]

위도     37.483372
경도    127.053437
Name: 0, dtype: object