In [1]:
import pandas as pd
from haversine import haversine, Unit
from geopy.geocoders import Nominatim

In [4]:
cdhk = pd.read_excel('data/20210401기준_학교일람표.xlsx', sheet_name=2)
cdhk_add = cdhk['주소']
cdhk_add.dropna(axis=0, inplace=True)
cdhk_add.index = cdhk_add.index-3
cdhk_add

0      서울특별시 종로구 홍지문2길 1 . 상명사대부속초등학교 (홍지동.상명초등학교)
1                         서울특별시 종로구 삼일대로 446 (경운동)
2                서울특별시 종로구 대학로 64 (동숭동.서울사대부설초등학교)
3               서울특별시 종로구 통일로12길 23 (무악동. 독립문초등학교)
4              서울특별시 종로구 사직로9길 19 . 서울매동초등학교 (필운동)
                          ...
602                         서울특별시 강동구 명일로 23 (둔촌동)
603              서울특별시 강동구 성안로 200 . 서울천동초등학교 (길동)
604            서울특별시 강동구 구천면로 266 . 서울천일초등학교 (천호동)
605           서울특별시 강동구 구천면로 310-11 (천호동.서울천호초등학교)
606              서울특별시 강동구 풍성로 261 (서울한산초등학교. 둔촌동)
Name: 주소, Length: 607, dtype: object

In [6]:
for i in range(len(cdhk_add)):
    a = cdhk_add[i].split(' ')
    cdhk_add[i] = " ".join(a[0:4])

cdhk_add

0          서울특별시 종로구 홍지문2길 1
1         서울특별시 종로구 삼일대로 446
2           서울특별시 종로구 대학로 64
3        서울특별시 종로구 통일로12길 23
4         서울특별시 종로구 사직로9길 19
               ...
602         서울특별시 강동구 명일로 23
603        서울특별시 강동구 성안로 200
604       서울특별시 강동구 구천면로 266
605    서울특별시 강동구 구천면로 310-11
606        서울특별시 강동구 풍성로 261
Name: 주소, Length: 607, dtype: object

In [7]:
geo_local = Nominatim(user_agent='South Korea') # 지역선택

def geocoding(address): 
    geo = geo_local.geocode(address)
    x_y = [geo.latitude, geo.longitude]
    return x_y

cdhk_latitude = []
cdhk_longitude = []
cdhk_exception_addr = []

for i in cdhk_add:
    try:
        cdhk_latitude.append(geocoding(i)[0]) 
        cdhk_longitude.append(geocoding(i)[1])
    except:
        cdhk_exception_addr.append(i)

초등학교 에러

In [8]:
cdhk_exception_addr

['서울특별시 중구 매봉18길 109',
 '서울특별시 성동구 동호로5길 133',
 '서울특별시 중랑구 면목로30나길 38',
 '서울특별시 성북구 정릉로9라길 11',
 '서울특별시 노원구 동일로230나길 32',
 '서울특별시 마포구 대흥로24바길 27',
 '서울특별시 양천구 남부순환로83길 (신월동.',
 '서울특별시 영등포구 시흥대로173길 14',
 '서울특별시 영등포구 도영로 22길',
 '서울특별시 강동구 아리수로93다길 1']

In [9]:
jhk = pd.read_excel('data/20210401기준_학교일람표.xlsx', sheet_name=3)
jhk_add = jhk['주소']
jhk_add.dropna(axis=0, inplace=True)
jhk_add.index = jhk_add.index-3
jhk_add

0          서울특별시 종로구 혜화로 74 (혜화동.경신중고등학교)
1                   서울특별시 종로구 사직로 9 (행촌동)
2                서울특별시 종로구 율곡로3길 49 (송현동)
3      서울특별시 종로구 대학로 156 동성중학교 (혜화동 90-7)
4             서울특별시 종로구 필운대로1길 34 배화여자중학교
                      ...
384        서울특별시 강동구 고덕로 65 . 신암중학교 (암사동)
385          서울특별시 강동구 천중로 57 .천일중학교(천호동)
386               서울특별시 강동구 상암로 153 (천호동)
387        서울특별시 강동구 풍성로 251 (둔촌동. 한산중학교)
388         서울특별시 강동구 동남로 832 (상일동.한영중학교)
Name: 주소, Length: 389, dtype: object

In [12]:
for i in range(len(jhk_add)):
    a = jhk_add[i].split(' ')
    jhk_add[i] = " ".join(a[0:4])

jhk_add

0         서울특별시 종로구 혜화로 74
1          서울특별시 종로구 사직로 9
2       서울특별시 종로구 율곡로3길 49
3        서울특별시 종로구 대학로 156
4      서울특별시 종로구 필운대로1길 34
              ...
384       서울특별시 강동구 고덕로 65
385       서울특별시 강동구 천중로 57
386      서울특별시 강동구 상암로 153
387      서울특별시 강동구 풍성로 251
388      서울특별시 강동구 동남로 832
Name: 주소, Length: 389, dtype: object

In [13]:
jhk_latitude = []
jhk_longitude = []
jhk_exception_addr = []

for i in jhk_add:
    try:
        jhk_latitude.append(geocoding(i)[0]) 
        jhk_longitude.append(geocoding(i)[1])
    except:
        jhk_exception_addr.append(i)

중학교 에러

In [14]:
jhk_exception_addr

['서울특별시 중구 매봉18길 111',
 '서울 중구 마른내로9길 10',
 '서울특별시 중랑구 봉우재로 58길',
 '서울특별시 영등포구 시흥대로185길 6',
 '서울특별시 영등포구 선유서로13길 6',
 '서울특별시 영등포구 영등포로62길 31',
 '서울특별시 동작구 상도로13라길 22',
 '서울특별시 동작구 사당로2길 2-19',
 '서울특별시 서초구 서운로21길 2',
 '서울특별시 강동구 아리수로93다길 1']

In [15]:
kdhk = pd.read_excel('data/20210401기준_학교일람표.xlsx', sheet_name=4)
kdhk_add = kdhk['주소']
kdhk_add.dropna(axis=0, inplace=True)
kdhk_add.index = kdhk_add.index-3
kdhk_add

0                        서울특별시 종로구 자하문로 136 (청운동)
1      서울특별시 종로구 자하문로28가길 9 . 경복고등학교 (청운동.경복고등학교)
2                  서울특별시 종로구 혜화로 74 (혜화동.경신중고등학교)
3             서울특별시 종로구 계동길 84-10 . 대동세무고등학교 (계동)
4                           서울특별시 종로구 사직로 9 (행촌동)
                          ...
315           서울특별시 강동구 동남로 964 . 서울컨벤션고등학교 (고덕동)
316            서울특별시 강동구 고덕로25길 17 . 선사고등학교 (암사동)
317              서울특별시 강동구 구천면로 396 (천호동. 성덕고등학교)
318               서울특별시 강동구 동남로 832 (상일동. 한영고등학교)
319                       서울특별시 강동구 동남로 832 (상일동)
Name: 주소, Length: 320, dtype: object

In [16]:
for i in range(len(kdhk_add)):
    a = kdhk_add[i].split(' ')
    kdhk_add[i] = " ".join(a[0:4])

kdhk_add

0        서울특별시 종로구 자하문로 136
1      서울특별시 종로구 자하문로28가길 9
2          서울특별시 종로구 혜화로 74
3       서울특별시 종로구 계동길 84-10
4           서울특별시 종로구 사직로 9
               ...
315       서울특별시 강동구 동남로 964
316     서울특별시 강동구 고덕로25길 17
317      서울특별시 강동구 구천면로 396
318       서울특별시 강동구 동남로 832
319       서울특별시 강동구 동남로 832
Name: 주소, Length: 320, dtype: object

In [17]:
kdhk_latitude = []
kdhk_longitude = []
kdhk_exception_addr = []

for i in kdhk_add:
    try:
        kdhk_latitude.append(geocoding(i)[0]) 
        kdhk_longitude.append(geocoding(i)[1])
    except:
        kdhk_exception_addr.append(i)

고등학교 에러

In [18]:
kdhk_exception_addr

['서울특별시 중구 매봉18길 111',
 '서울특별시 성동구 동호로5길 131',
 '서울특별시 양천구 신정로13길 16',
 '서울특별시 영등포구 영등포로62길 13',
 '서울특별시 서초구 반포대로27길 29']

In [20]:
cdhk_add_df = pd.DataFrame({'위도':cdhk_latitude,'경도':cdhk_longitude})
jhk_add_df = pd.DataFrame({'위도':jhk_latitude,'경도':jhk_longitude})
kdhk_add_df = pd.DataFrame({'위도':kdhk_latitude,'경도':kdhk_longitude})

cdhk_add_df.to_csv('data/cdhk.csv', encoding='cp949')
jhk_add_df.to_csv('data/jhk.csv', encoding='cp949')
kdhk_add_df.to_csv('data/kdhk.csv', encoding='cp949')

In [22]:
tshk = pd.read_excel('data/20210401기준_학교일람표.xlsx', sheet_name=5)
tshk_add = tshk['주소']
tshk_add.dropna(axis=0, inplace=True)
tshk_add.index = tshk_add.index-4
tshk_add

0                            서울특별시 종로구 삼일대로 454 (경운동)
1                   서울특별시 종로구 필운대로 103 (신교동. 국립서울농학교)
2                             서울특별시 종로구 필운대로 97 (신교동)
3                  서울특별시 종로구 사직로7길 17 . 수도사랑의학교 (사직동)
4                     서울특별시 광진구 강변역로 18 (구의동. 서울광진학교)
5                서울특별시 성북구 성북로31길 5-15 . 서울다원학교 (성북동)
6                  서울특별시 강북구 솔매로52길 31 . 서울애화학교 (미아동)
7                서울특별시 강북구 인수봉로 119-20 . 서울정인학교 (수유동)
8                           서울특별시 강북구 삼양로63길 33 (미아동)
9                          서울특별시 강북구 삼양로73가길 47 (수유동)
10                    서울특별시 도봉구 평화로15번길 9-25 . 서울도솔학교
11                 서울특별시 노원구 노원로18길 41 . 서울동천학교 (하계동)
12                  서울특별시 노원구 공릉로58길 24 (하계동. 서울정민학교)
13    서울특별시 은평구 갈현로11길 30 은평대영학교 (구산동. 사회복지법인 엔젤스헤이븐)
14                서울특별시 서대문구 연세로 50 . 연세대학교재활학교 (신촌동)
15                서울특별시 마포구 월드컵북로38길 21 . 한국우진학교 (중동)
16                  서울특별시 강서구 까치산로22길 38 . 교남학교 (화곡동)
17                          서울특별시 강서구 양천로55길 22 (가양동)
18                   서울특별시 구로구 부일로9길 158 (궁동. 서울정진학교)
19                    서울특별시 구로구 연동로 320 . 성베드로학교 (항동)
20                      서울특별시 동작구 상도로 53 . 누리학교 (대방동)
21                서울특별시 동작구 양녕로30길 19-4 (상도동. 서울삼성학교)
22          서울특별시 관악구 보라매로 44 . SRC외래센터 4층 새롬학교 (봉천동)
23                            서울특별시 관악구 난향3길 31 (신림동)
24                서울특별시 서초구 헌릉로468길 21-16 (내곡동.다니엘학교)
25          서울특별시 서초구 염곡안1길 25 . 서울나래학교 (염곡동. 언남초등학교)
26                        서울특별시 강남구 일원로90 (일원동. 밀알학교)
27                서울특별시 강남구 봉은사로81길 16 . 서울정애학교 (삼성동)
28            서울특별시 송파구 올림픽로 625 . 광성하늘빛학교 (풍납동.광성교회)
29                           서울특별시 송파구 충민로6길 15 (장지동)
30                     서울특별시 강동구 상암로 369 . 주몽학교 (상일동)
31                서울특별시 강동구 고덕로 295-59 . 한국구화학교 (고덕동)
Name: 주소, dtype: object

In [23]:
for i in range(len(tshk_add)):
    a = tshk_add[i].split(' ')
    tshk_add[i] = " ".join(a[0:4])

tshk_add

0          서울특별시 종로구 삼일대로 454
1          서울특별시 종로구 필운대로 103
2           서울특별시 종로구 필운대로 97
3          서울특별시 종로구 사직로7길 17
4           서울특별시 광진구 강변역로 18
5       서울특별시 성북구 성북로31길 5-15
6         서울특별시 강북구 솔매로52길 31
7       서울특별시 강북구 인수봉로 119-20
8         서울특별시 강북구 삼양로63길 33
9        서울특별시 강북구 삼양로73가길 47
10     서울특별시 도봉구 평화로15번길 9-25
11        서울특별시 노원구 노원로18길 41
12        서울특별시 노원구 공릉로58길 24
13        서울특별시 은평구 갈현로11길 30
14          서울특별시 서대문구 연세로 50
15      서울특별시 마포구 월드컵북로38길 21
16       서울특별시 강서구 까치산로22길 38
17        서울특별시 강서구 양천로55길 22
18        서울특별시 구로구 부일로9길 158
19          서울특별시 구로구 연동로 320
20           서울특별시 동작구 상도로 53
21      서울특별시 동작구 양녕로30길 19-4
22          서울특별시 관악구 보라매로 44
23          서울특별시 관악구 난향3길 31
24    서울특별시 서초구 헌릉로468길 21-16
25         서울특별시 서초구 염곡안1길 25
26      서울특별시 강남구 일원로90 (일원동.
27       서울특별시 강남구 봉은사로81길 16
28         서울특별시 송파구 올림픽로 625
29         서울특별시 송파구 충민로6길 15
30          서울특별시 강동구 상암로 369
31       서울특별시 강동구 고덕로 295-59
Name: 주소, dtype: object

In [24]:
tshk_latitude = []
tshk_longitude = []
tshk_exception_addr = []

for i in tshk_add:
    try:
        tshk_latitude.append(geocoding(i)[0]) 
        tshk_longitude.append(geocoding(i)[1])
    except:
        tshk_exception_addr.append(i)

특수학교 에러

In [25]:
tshk_exception_addr

['서울특별시 강남구 일원로90 (일원동.']

In [39]:
tshk_add_df = pd.DataFrame({'위도':tshk_latitude,'경도':tshk_longitude})

tshk_add_df.to_csv('data/tshk.csv', encoding='cp949')

In [28]:
kjhk = pd.read_excel('data/20210401기준_학교일람표.xlsx', sheet_name=6)
kjhk_add = kjhk['주소']
kjhk_add.dropna(axis=0, inplace=True)
kjhk_add.index = kjhk_add.index-3
kjhk_add

0                             서울특별시 종로구 종로58길 30 (숭인동)
1                             서울특별시 종로구 종로58길 30 (숭인동)
2                   서울특별시 종로구 종로58길 28 (숭인동. 종로산업정보학교)
3                  서울특별시 중구 퇴계로88가길 8 (신당동.서울실용음악고등학교)
4                       서울특별시 중구 소파로 99 . 여명학교 (남산동2가)
5     서울특별시 은평구 가좌로 208 . 은평문화예술정보학교 (응암동. 은평문화예술정보학교)
6           서울특별시 마포구 마포대로 249 (아현동. 아현산업정보학교. 아현직업학교)
7            서울특별시 금천구 남부순환로126길 25 . 금천문화예술정보학교 (독산동)
8                    서울특별시 관악구 신림로 67 . 서울산업정보학교 (신림동)
9                         서울특별시 서초구 남부순환로347길 69 (서초동)
10                                서울특별시 중구 정동길 25 (정동)
11                 서울특별시 광진구 천호대로 664 . 선화예술중고등학교 (능동)
12                   서울특별시 노원구 화랑로 815 . 한국삼육중학교 (공릉동)
13                          서울특별시 금천구 시흥대로38길 62 (시흥동)
14               서울특별시 강남구 개포로22길 65 . 국립국악중고등학교 (개포동)
15                            서울특별시 구로구 오리로 1189 (오류동)
Name: 주소, dtype: object

In [29]:
for i in range(len(kjhk_add)):
    a = kjhk_add[i].split(' ')
    kjhk_add[i] = " ".join(a[0:4])

kjhk_add

0         서울특별시 종로구 종로58길 30
1         서울특별시 종로구 종로58길 30
2         서울특별시 종로구 종로58길 28
3         서울특별시 중구 퇴계로88가길 8
4            서울특별시 중구 소파로 99
5          서울특별시 은평구 가좌로 208
6         서울특별시 마포구 마포대로 249
7     서울특별시 금천구 남부순환로126길 25
8           서울특별시 관악구 신림로 67
9     서울특별시 서초구 남부순환로347길 69
10           서울특별시 중구 정동길 25
11        서울특별시 광진구 천호대로 664
12         서울특별시 노원구 화랑로 815
13      서울특별시 금천구 시흥대로38길 62
14       서울특별시 강남구 개포로22길 65
15        서울특별시 구로구 오리로 1189
Name: 주소, dtype: object

In [30]:
kjhk_latitude = []
kjhk_longitude = []
kjhk_exception_addr = []

for i in kjhk_add:
    try:
        kjhk_latitude.append(geocoding(i)[0]) 
        kjhk_longitude.append(geocoding(i)[1])
    except:
        kjhk_exception_addr.append(i)

각종학교 에러

In [32]:
kjhk_exception_addr

[]

In [40]:
kjhk_add_df = pd.DataFrame({'위도':kjhk_latitude,'경도':kjhk_longitude})

kjhk_add_df.to_csv('data/kjhk.csv', encoding='cp949')

In [35]:
kshk = pd.read_excel('data/20210401기준_학교일람표.xlsx', sheet_name=7)
kshk_add = kshk['주소']
kshk_add.dropna(axis=0, inplace=True)
kshk_add.index = kshk_add.index-2
kshk_add

0    서울특별시 노원구 중계로 244 (중계동.청암고등기술학교)
1        서울특별시 영등포구 여의대방로61길 42 (신길동)
Name: 주소, dtype: object

In [36]:
for i in range(len(kshk_add)):
    a = kshk_add[i].split(' ')
    kshk_add[i] = " ".join(a[0:4])

kshk_add

0         서울특별시 노원구 중계로 244
1    서울특별시 영등포구 여의대방로61길 42
Name: 주소, dtype: object

In [37]:
kshk_latitude = []
kshk_longitude = []
kshk_exception_addr = []

for i in kshk_add:
    try:
        kshk_latitude.append(geocoding(i)[0]) 
        kshk_longitude.append(geocoding(i)[1])
    except:
        kshk_exception_addr.append(i)

기술학교 에러

In [38]:
kshk_exception_addr

[]

In [41]:
kshk_add_df = pd.DataFrame({'위도':kshk_latitude,'경도':kshk_longitude})

kshk_add_df.to_csv('data/kshk.csv', encoding='cp949')