In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('data/ID있는버전.xlsx')
df

,ID,시군구,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,거래유형
0,서울특별시 강남구 개포동 개포6차우성아파트1동~8동 80,서울특별시 강남구 개포동,개포6차우성아파트1동~8동,80,201801,3,130000,4,1987,언주로 3,-
1,서울특별시 동작구 신대방동 롯데관악타워 150,서울특별시 동작구 신대방동,롯데관악타워,150,201801,4,74000,27,1996,보라매로5길 51,-
2,서울특별시 동작구 신대방동 경남교수 80,서울특별시 동작구 신대방동,경남교수,80,201801,25,65000,17,2001,여의대방로10길 14,-
3,서울특별시 동작구 상도동 힐스테이트 상도 프레스티지 80,서울특별시 동작구 상도동,힐스테이트 상도 프레스티지,80,201801,27,85800,15,2013,상도로 346-2,-
4,서울특별시 동작구 상도동 힐스테이트 상도 프레스티지 120,서울특별시 동작구 상도동,힐스테이트 상도 프레스티지,120,201801,24,104500,12,2013,상도로 346-2,-
...,...,...,...,...,...,...,...,...,...,...,...
285394,서울특별시 강남구 삼성동 삼성동힐스테이트 1단지 30,서울특별시 강남구 삼성동,삼성동힐스테이트 1단지,30,202206,20,126000,15,2008,학동로68길 29,중개거래
285395,서울특별시 노원구 공릉동 태강아파트 50,서울특별시 노원구 공릉동,태강아파트,50,202206,26,60000,5,1999,공릉로34길 62,중개거래
285396,서울특별시 노원구 공릉동 태강아파트 60,서울특별시 노원구 공릉동,태강아파트,60,202206,21,70500,4,1999,공릉로34길 62,중개거래
285397,서울특별시 동작구 대방동 보라매센트럴타운 20,서울특별시 동작구 대방동,보라매센트럴타운,20,202206,8,27550,7,2021,여의대방로 200,중개거래
285398,서울특별시 용산구 문배동 용산큐브 10,서울특별시 용산구 문배동,용산큐브,10,202206,13,20000,17,2013,백범로90길 12,중개거래

In [3]:
df['계약년월'] = pd.to_datetime(df['계약년월'], format='%Y%m')

In [4]:
df['분기'], df['년도'] = (df['계약년월'].dt.quarter, df['계약년월'].dt.year)
df

,ID,시군구,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,거래유형,분기,년도
0,서울특별시 강남구 개포동 개포6차우성아파트1동~8동 80,서울특별시 강남구 개포동,개포6차우성아파트1동~8동,80,2018-01-01,3,130000,4,1987,언주로 3,-,1,2018
1,서울특별시 동작구 신대방동 롯데관악타워 150,서울특별시 동작구 신대방동,롯데관악타워,150,2018-01-01,4,74000,27,1996,보라매로5길 51,-,1,2018
2,서울특별시 동작구 신대방동 경남교수 80,서울특별시 동작구 신대방동,경남교수,80,2018-01-01,25,65000,17,2001,여의대방로10길 14,-,1,2018
3,서울특별시 동작구 상도동 힐스테이트 상도 프레스티지 80,서울특별시 동작구 상도동,힐스테이트 상도 프레스티지,80,2018-01-01,27,85800,15,2013,상도로 346-2,-,1,2018
4,서울특별시 동작구 상도동 힐스테이트 상도 프레스티지 120,서울특별시 동작구 상도동,힐스테이트 상도 프레스티지,120,2018-01-01,24,104500,12,2013,상도로 346-2,-,1,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...
285394,서울특별시 강남구 삼성동 삼성동힐스테이트 1단지 30,서울특별시 강남구 삼성동,삼성동힐스테이트 1단지,30,2022-06-01,20,126000,15,2008,학동로68길 29,중개거래,2,2022
285395,서울특별시 노원구 공릉동 태강아파트 50,서울특별시 노원구 공릉동,태강아파트,50,2022-06-01,26,60000,5,1999,공릉로34길 62,중개거래,2,2022
285396,서울특별시 노원구 공릉동 태강아파트 60,서울특별시 노원구 공릉동,태강아파트,60,2022-06-01,21,70500,4,1999,공릉로34길 62,중개거래,2,2022
285397,서울특별시 동작구 대방동 보라매센트럴타운 20,서울특별시 동작구 대방동,보라매센트럴타운,20,2022-06-01,8,27550,7,2021,여의대방로 200,중개거래,2,2022
285398,서울특별시 용산구 문배동 용산큐브 10,서울특별시 용산구 문배동,용산큐브,10,2022-06-01,13,20000,17,2013,백범로90길 12,중개거래,2,2022

In [34]:
table1 = pd.pivot_table(df, values=['전용면적(㎡)','거래금액(만원)','건축년도'], index=['년도','분기'], columns=['ID'], aggfunc=np.mean)
table2 = pd.pivot_table(df, values=['전용면적(㎡)','거래금액(만원)','건축년도'], index=['ID'], columns=['년도','분기'], aggfunc=np.mean)
table1

                          거래금액(만원)                                  \
ID      서울특별시 강남구 개포동 개포2차현대아파트 80 서울특별시 강남구 개포동 개포6차우성아파트1동~8동 50
년도   분기
2018 1                         NaN                             NaN
     2                         NaN                        107500.0
     3                         NaN                        112000.0
     4                         NaN                             NaN
2019 1                         NaN                             NaN
     2                    134500.0                             NaN
     3                         NaN                             NaN
     4                    160000.0                             NaN
2020 1                         NaN                        144000.0
     2                    149500.0                             NaN
     3                         NaN                             NaN
     4                         NaN                        146000.0
2021 1                         NaN                             NaN
     2                    174000.0                             NaN
     3                         NaN                             NaN
     4                         NaN                             NaN
2022 1                         NaN                             NaN
     2                         NaN                             NaN

                                                                         \
ID      서울특별시 강남구 개포동 개포6차우성아파트1동~8동 70 서울특별시 강남구 개포동 개포6차우성아파트1동~8동 80
년도   분기
2018 1                              NaN                   129125.000000
     2                              NaN                   145000.000000
     3                              NaN                   160000.000000
     4                              NaN                             NaN
2019 1                              NaN                             NaN
     2                         124000.0                   141000.000000
     3                              NaN                   154500.000000
     4                              NaN                             NaN
2020 1                              NaN                             NaN
     2                         153750.0                   157583.333333
     3                              NaN                   173900.000000
     4                              NaN                   155400.000000
2021 1                              NaN                             NaN
     2                              NaN                   195000.000000
     3                              NaN                   210000.000000
     4                              NaN                   215000.000000
2022 1                              NaN                             NaN
     2                              NaN                   218666.666667

                                                                 \
ID      서울특별시 강남구 개포동 개포래미안포레스트 100 서울특별시 강남구 개포동 개포래미안포레스트 140
년도   분기
2018 1                          NaN                         NaN
     2                          NaN                         NaN
     3                          NaN                         NaN
     4                          NaN                         NaN
2019 1                          NaN                         NaN
     2                          NaN                         NaN
     3                          NaN                         NaN
     4                          NaN                         NaN
2020 1                          NaN                         NaN
     2                          NaN                         NaN
     3                          NaN                         NaN
     4                          NaN                         NaN
2021 1                          NaN                         NaN
     2                          NaN                         NaN
     3                     310000.0                         NaN
     4                          NaN                         NaN
2022 1                          NaN                         NaN
     2                     369000.0                    420000.0

                                                               \
ID      서울특별시 강남구 개포동 개포래미안포레스트 50 서울특별시 강남구 개포동 개포래미안포레스트 60
년도   분기
2018 1                         NaN                        NaN
     2                         NaN                        NaN
     3                         NaN                        NaN
     4                         NaN                        NaN
2019 1                         NaN                        NaN
     2                         NaN                        NaN
     3                         NaN                        NaN
     4                         NaN                        NaN
2020 1                         NaN                        NaN
     2                         NaN                        NaN
     3                         NaN                        NaN
     4                         NaN              192066.666667
2021 1                         NaN                        NaN
     2               181666.666667              204400.000000
     3                         NaN              204750.000000
     4               185000.000000              222450.000000
2022 1                         NaN                        NaN
     2                         NaN              202833.333333

                                                               ...  \
ID      서울특별시 강남구 개포동 개포래미안포레스트 70 서울특별시 강남구 개포동 개포래미안포레스트 80  ...
년도   분기                                                        ...
2018 1                         NaN                        NaN  ...
     2                         NaN                        NaN  ...
     3                         NaN                        NaN  ...
     4                         NaN                        NaN  ...
2019 1                         NaN                        NaN  ...
     2                         NaN                        NaN  ...
     3                         NaN                        NaN  ...
     4                         NaN                        NaN  ...
2020 1                         NaN                        NaN  ...
     2                         NaN                        NaN  ...
     3                         NaN                        NaN  ...
     4                         NaN                        NaN  ...
2021 1                    245000.0                        NaN  ...
     2                         NaN                        NaN  ...
     3                    251500.0                   281400.0  ...
     4                         NaN                        NaN  ...
2022 1                         NaN                        NaN  ...
     2                         NaN                        NaN  ...

                       전용면적(㎡)                                            \
ID      서울특별시 중랑구 중화동 한신아파트 80 서울특별시 중랑구 중화동 한영 100 서울특별시 중랑구 중화동 한영 110
년도   분기
2018 1                    80.0                  NaN                  NaN
     2                    80.0                  NaN                  NaN
     3                    80.0                  NaN                  NaN
     4                    80.0                  NaN                  NaN
2019 1                    80.0                  NaN                  NaN
     2                    80.0                  NaN                  NaN
     3                    80.0                  NaN                  NaN
     4                    80.0                  NaN                  NaN
2020 1                    80.0                  NaN                110.0
     2                    80.0                  NaN                  NaN
     3                    80.0                  NaN                  NaN
     4                    80.0                  NaN                  NaN
2021 1                    80.0                  NaN                  NaN
     2                    80.0                  NaN                  NaN
     3                    80.0                100.0                  NaN
     4                     NaN                  NaN                  NaN
2022 1                     NaN                  NaN                  NaN
     2                     NaN                  NaN                  NaN

                                                                      \
ID      서울특별시 중랑구 중화동 한영 120 서울특별시 중랑구 중화동 한영 60 서울특별시 중랑구 중화동 한영 70
년도   분기
2018 1                   NaN                 NaN                 NaN
     2                   NaN                 NaN                70.0
     3                   NaN                60.0                70.0
     4                   NaN                 NaN                70.0
2019 1                   NaN                 NaN                 NaN
     2                   NaN                60.0                 NaN
     3                   NaN                 NaN                 NaN
     4                   NaN                 NaN                 NaN
2020 1                   NaN                60.0                70.0
     2                   NaN                60.0                 NaN
     3                   NaN                60.0                70.0
     4                 120.0                 NaN                 NaN
2021 1                   NaN                60.0                 NaN
     2                   NaN                 NaN                70.0
     3                   NaN                60.0                 NaN
     4                   NaN                 NaN                 NaN
2022 1                   NaN                 NaN                 NaN
     2                   NaN                 NaN                 NaN

                                                                            \
ID      서울특별시 중랑구 중화동 한영 80 서울특별시 중랑구 중화동 현대휴앤미 100 서울특별시 중랑구 중화동 현대휴앤미 60
년도   분기
2018 1                 80.0                     NaN                    NaN
     2                 80.0                     NaN                    NaN
     3                 80.0                   100.0                    NaN
     4                 80.0                     NaN                    NaN
2019 1                  NaN                     NaN                    NaN
     2                  NaN                     NaN                    NaN
     3                 80.0                     NaN                   60.0
     4                  NaN                     NaN                    NaN
2020 1                 80.0                     NaN                    NaN
     2                  NaN                     NaN                    NaN
     3                  NaN                   100.0                    NaN
     4                  NaN                   100.0                    NaN
2021 1                  NaN                     NaN                    NaN
     2                  NaN                     NaN                    NaN
     3                  NaN                     NaN                    NaN
     4                 80.0                     NaN                    NaN
2022 1                  NaN                     NaN                    NaN
     2                 80.0                     NaN                    NaN


ID      서울특별시 중랑구 중화동 현대휴앤미 80
년도   분기
2018 1                     NaN
     2                     NaN
     3                     NaN
     4                     NaN
2019 1                    80.0
     2                     NaN
     3                     NaN
     4                     NaN
2020 1                     NaN
     2                     NaN
     3                    80.0
     4                     NaN
2021 1                     NaN
     2                     NaN
     3                     NaN
     4                     NaN
2022 1                     NaN
     2                    80.0

[18 rows x 48870 columns]

In [35]:
table1.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 18 entries, (2018, 1) to (2022, 2)
Columns: 48870 entries, ('거래금액(만원)', '서울특별시 강남구 개포동 개포2차현대아파트 80') to ('전용면적(㎡)', '서울특별시 중랑구 중화동 현대휴앤미 80')
dtypes: float64(48870)
memory usage: 6.7 MB

In [36]:
table2.to_excel('data/tabel2.xlsx')

In [37]:
table1.isnull().sum()

          ID
거래금액(만원)  서울특별시 강남구 개포동 개포2차현대아파트 80         14
          서울특별시 강남구 개포동 개포6차우성아파트1동~8동 50    14
          서울특별시 강남구 개포동 개포6차우성아파트1동~8동 70    16
          서울특별시 강남구 개포동 개포6차우성아파트1동~8동 80     6
          서울특별시 강남구 개포동 개포래미안포레스트 100        16
                                             ..
전용면적(㎡)   서울특별시 중랑구 중화동 한영 70                12
          서울특별시 중랑구 중화동 한영 80                10
          서울특별시 중랑구 중화동 현대휴앤미 100            15
          서울특별시 중랑구 중화동 현대휴앤미 60             17
          서울특별시 중랑구 중화동 현대휴앤미 80             15
Length: 48870, dtype: int64

In [38]:
# check null 
check_null = table1.isna().sum() / 18

# columns of null ratio >= 0.5
check_null[check_null >= 0.5]
# remove columns of null ratio >= 0.5
remove_cols = check_null[check_null >= 0.5].keys()
table1 = table1.drop(remove_cols, axis=1)

table1

                               거래금액(만원)                           \
ID      서울특별시 강남구 개포동 개포6차우성아파트1동~8동 80 서울특별시 강남구 개포동 개포주공1단지 40
년도   분기
2018 1                    129125.000000            145736.842105
     2                    145000.000000            162587.500000
     3                    160000.000000            167687.500000
     4                              NaN            150000.000000
2019 1                              NaN            142500.000000
     2                    141000.000000            157539.473684
     3                    154500.000000            187208.333333
     4                              NaN            193705.882353
2020 1                              NaN            182000.000000
     2                    157583.333333            180000.000000
     3                    173900.000000                      NaN
     4                    155400.000000                      NaN
2021 1                              NaN                      NaN
     2                    195000.000000                      NaN
     3                    210000.000000                      NaN
     4                    215000.000000                      NaN
2022 1                              NaN                      NaN
     2                    218666.666667                      NaN

                                                           \
ID      서울특별시 강남구 개포동 개포주공5단지 60 서울특별시 강남구 개포동 개포주공5단지 80
년도   분기
2018 1             136666.666667                      NaN
     2             129500.000000                      NaN
     3             125000.000000            177416.666667
     4                       NaN            141000.000000
2019 1             134500.000000            176000.000000
     2             142000.000000            179166.666667
     3             159500.000000            194666.666667
     4             166000.000000                      NaN
2020 1             173500.000000            198000.000000
     2             167500.000000            186000.000000
     3             184800.000000            221714.285714
     4             202800.000000                      NaN
2021 1                       NaN                      NaN
     2                       NaN            274333.333333
     3                       NaN                      NaN
     4                       NaN            282250.000000
2022 1                       NaN                      NaN
     2                       NaN                      NaN

                                                           \
ID      서울특별시 강남구 개포동 개포주공6단지 50 서울특별시 강남구 개포동 개포주공6단지 60
년도   분기
2018 1             125900.000000            135200.000000
     2             128000.000000            131650.000000
     3             118500.000000            137000.000000
     4                       NaN                      NaN
2019 1             118000.000000            132666.666667
     2             118000.000000            142900.000000
     3             148250.000000            157433.333333
     4             161500.000000            164500.000000
2020 1             157750.000000            173850.000000
     2             148000.000000            168250.000000
     3             120250.000000            185000.000000
     4             174333.333333            181000.000000
2021 1             189000.000000                      NaN
     2                       NaN                      NaN
     3                       NaN                      NaN
     4                       NaN                      NaN
2022 1                       NaN                      NaN
     2                       NaN                      NaN

                                                           \
ID      서울특별시 강남구 개포동 개포주공6단지 70 서울특별시 강남구 개포동 개포주공6단지 80
년도   분기
2018 1             151500.000000            163500.000000
     2             150500.000000                      NaN
     3             161525.000000            164500.000000
     4             162500.000000                      NaN
2019 1             152000.000000                      NaN
     2             174500.000000            178333.333333
     3             182125.000000            190500.000000
     4             189000.000000            196750.000000
2020 1             167500.000000            200000.000000
     2             182666.666667            206666.666667
     3             196750.000000            214500.000000
     4             217600.000000            228500.000000
2021 1             233250.000000                      NaN
     2                       NaN            260000.000000
     3                       NaN            285000.000000
     4                       NaN                      NaN
2022 1             270000.000000            280000.000000
     2                       NaN                      NaN

                                                           ...  \
ID      서울특별시 강남구 개포동 개포주공7단지 50 서울특별시 강남구 개포동 개포주공7단지 60  ...
년도   분기                                                    ...
2018 1             120300.000000            134750.000000  ...
     2                       NaN            127500.000000  ...
     3             143000.000000            141000.000000  ...
     4                       NaN                      NaN  ...
2019 1             119000.000000            131250.000000  ...
     2             136333.333333            149250.000000  ...
     3             149375.000000            161625.000000  ...
     4             167750.000000            170000.000000  ...
2020 1             154500.000000            171000.000000  ...
     2             144500.000000                      NaN  ...
     3                       NaN            179583.333333  ...
     4             175000.000000            192500.000000  ...
2021 1             180000.000000            200000.000000  ...
     2             215500.000000                      NaN  ...
     3                       NaN                      NaN  ...
     4                       NaN                      NaN  ...
2022 1             211500.000000                      NaN  ...
     2                       NaN                      NaN  ...

                          전용면적(㎡)                            \
ID      서울특별시 중랑구 신내동 화성.두산아파트 70 서울특별시 중랑구 신내동 화성.두산아파트 80
년도   분기
2018 1                       70.0                      80.0
     2                       70.0                      80.0
     3                       70.0                      80.0
     4                       70.0                       NaN
2019 1                       70.0                      80.0
     2                       70.0                      80.0
     3                       70.0                      80.0
     4                       70.0                      80.0
2020 1                       70.0                      80.0
     2                       70.0                      80.0
     3                       70.0                      80.0
     4                       70.0                      80.0
2021 1                       70.0                       NaN
     2                       70.0                      80.0
     3                       70.0                       NaN
     4                       70.0                      80.0
2022 1                       70.0                       NaN
     2                       70.0                       NaN

                                                                           \
ID      서울특별시 중랑구 중화동 극동 80 서울특별시 중랑구 중화동 동양엔파트 80 서울특별시 중랑구 중화동 범양프레체 20
년도   분기
2018 1                 80.0                   80.0                   20.0
     2                 80.0                   80.0                   20.0
     3                 80.0                   80.0                   20.0
     4                 80.0                   80.0                   20.0
2019 1                 80.0                   80.0                   20.0
     2                 80.0                    NaN                   20.0
     3                 80.0                   80.0                   20.0
     4                 80.0                   80.0                    NaN
2020 1                 80.0                   80.0                   20.0
     2                 80.0                   80.0                   20.0
     3                  NaN                   80.0                   20.0
     4                 80.0                    NaN                    NaN
2021 1                 80.0                    NaN                   20.0
     2                 80.0                    NaN                   20.0
     3                  NaN                   80.0                   20.0
     4                  NaN                    NaN                    NaN
2022 1                  NaN                    NaN                   20.0
     2                  NaN                    NaN                   20.0

                                                          \
ID      서울특별시 중랑구 중화동 중화동건영아파트 60 서울특별시 중랑구 중화동 태능에셈빌 80
년도   분기
2018 1                       60.0                   80.0
     2                       60.0                   80.0
     3                       60.0                   80.0
     4                       60.0                    NaN
2019 1                        NaN                   80.0
     2                        NaN                   80.0
     3                        NaN                    NaN
     4                       60.0                   80.0
2020 1                       60.0                    NaN
     2                       60.0                    NaN
     3                       60.0                    NaN
     4                       60.0                    NaN
2021 1                        NaN                   80.0
     2                       60.0                   80.0
     3                       60.0                   80.0
     4                       60.0                   80.0
2022 1                        NaN                    NaN
     2                        NaN                    NaN


ID      서울특별시 중랑구 중화동 한신아파트 50 서울특별시 중랑구 중화동 한신아파트 60 서울특별시 중랑구 중화동 한신아파트 80
년도   분기
2018 1                    50.0                   60.0                   80.0
     2                    50.0                   60.0                   80.0
     3                    50.0                   60.0                   80.0
     4                    50.0                   60.0                   80.0
2019 1                    50.0                   60.0                   80.0
     2                    50.0                   60.0                   80.0
     3                    50.0                   60.0                   80.0
     4                    50.0                   60.0                   80.0
2020 1                    50.0                   60.0                   80.0
     2                    50.0                   60.0                   80.0
     3                    50.0                   60.0                   80.0
     4                    50.0                   60.0                   80.0
2021 1                    50.0                   60.0                   80.0
     2                    50.0                   60.0                   80.0
     3                    50.0                   60.0                   80.0
     4                    50.0                   60.0                    NaN
2022 1                     NaN                   60.0                    NaN
     2                     NaN                    NaN                    NaN

[18 rows x 12489 columns]

In [39]:
table1.fillna(method='ffill', inplace=True)
table1.isnull().sum()

          ID
거래금액(만원)  서울특별시 강남구 개포동 개포6차우성아파트1동~8동 80    0
          서울특별시 강남구 개포동 개포주공1단지 40           0
          서울특별시 강남구 개포동 개포주공5단지 60           0
          서울특별시 강남구 개포동 개포주공5단지 80           2
          서울특별시 강남구 개포동 개포주공6단지 50           0
                                            ..
전용면적(㎡)   서울특별시 중랑구 중화동 중화동건영아파트 60          0
          서울특별시 중랑구 중화동 태능에셈빌 80             0
          서울특별시 중랑구 중화동 한신아파트 50             0
          서울특별시 중랑구 중화동 한신아파트 60             0
          서울특별시 중랑구 중화동 한신아파트 80             0
Length: 12489, dtype: int64

In [40]:
table1

                               거래금액(만원)                           \
ID      서울특별시 강남구 개포동 개포6차우성아파트1동~8동 80 서울특별시 강남구 개포동 개포주공1단지 40
년도   분기
2018 1                    129125.000000            145736.842105
     2                    145000.000000            162587.500000
     3                    160000.000000            167687.500000
     4                    160000.000000            150000.000000
2019 1                    160000.000000            142500.000000
     2                    141000.000000            157539.473684
     3                    154500.000000            187208.333333
     4                    154500.000000            193705.882353
2020 1                    154500.000000            182000.000000
     2                    157583.333333            180000.000000
     3                    173900.000000            180000.000000
     4                    155400.000000            180000.000000
2021 1                    155400.000000            180000.000000
     2                    195000.000000            180000.000000
     3                    210000.000000            180000.000000
     4                    215000.000000            180000.000000
2022 1                    215000.000000            180000.000000
     2                    218666.666667            180000.000000

                                                           \
ID      서울특별시 강남구 개포동 개포주공5단지 60 서울특별시 강남구 개포동 개포주공5단지 80
년도   분기
2018 1             136666.666667                      NaN
     2             129500.000000                      NaN
     3             125000.000000            177416.666667
     4             125000.000000            141000.000000
2019 1             134500.000000            176000.000000
     2             142000.000000            179166.666667
     3             159500.000000            194666.666667
     4             166000.000000            194666.666667
2020 1             173500.000000            198000.000000
     2             167500.000000            186000.000000
     3             184800.000000            221714.285714
     4             202800.000000            221714.285714
2021 1             202800.000000            221714.285714
     2             202800.000000            274333.333333
     3             202800.000000            274333.333333
     4             202800.000000            282250.000000
2022 1             202800.000000            282250.000000
     2             202800.000000            282250.000000

                                                           \
ID      서울특별시 강남구 개포동 개포주공6단지 50 서울특별시 강남구 개포동 개포주공6단지 60
년도   분기
2018 1             125900.000000            135200.000000
     2             128000.000000            131650.000000
     3             118500.000000            137000.000000
     4             118500.000000            137000.000000
2019 1             118000.000000            132666.666667
     2             118000.000000            142900.000000
     3             148250.000000            157433.333333
     4             161500.000000            164500.000000
2020 1             157750.000000            173850.000000
     2             148000.000000            168250.000000
     3             120250.000000            185000.000000
     4             174333.333333            181000.000000
2021 1             189000.000000            181000.000000
     2             189000.000000            181000.000000
     3             189000.000000            181000.000000
     4             189000.000000            181000.000000
2022 1             189000.000000            181000.000000
     2             189000.000000            181000.000000

                                                           \
ID      서울특별시 강남구 개포동 개포주공6단지 70 서울특별시 강남구 개포동 개포주공6단지 80
년도   분기
2018 1             151500.000000            163500.000000
     2             150500.000000            163500.000000
     3             161525.000000            164500.000000
     4             162500.000000            164500.000000
2019 1             152000.000000            164500.000000
     2             174500.000000            178333.333333
     3             182125.000000            190500.000000
     4             189000.000000            196750.000000
2020 1             167500.000000            200000.000000
     2             182666.666667            206666.666667
     3             196750.000000            214500.000000
     4             217600.000000            228500.000000
2021 1             233250.000000            228500.000000
     2             233250.000000            260000.000000
     3             233250.000000            285000.000000
     4             233250.000000            285000.000000
2022 1             270000.000000            280000.000000
     2             270000.000000            280000.000000

                                                           ...  \
ID      서울특별시 강남구 개포동 개포주공7단지 50 서울특별시 강남구 개포동 개포주공7단지 60  ...
년도   분기                                                    ...
2018 1             120300.000000            134750.000000  ...
     2             120300.000000            127500.000000  ...
     3             143000.000000            141000.000000  ...
     4             143000.000000            141000.000000  ...
2019 1             119000.000000            131250.000000  ...
     2             136333.333333            149250.000000  ...
     3             149375.000000            161625.000000  ...
     4             167750.000000            170000.000000  ...
2020 1             154500.000000            171000.000000  ...
     2             144500.000000            171000.000000  ...
     3             144500.000000            179583.333333  ...
     4             175000.000000            192500.000000  ...
2021 1             180000.000000            200000.000000  ...
     2             215500.000000            200000.000000  ...
     3             215500.000000            200000.000000  ...
     4             215500.000000            200000.000000  ...
2022 1             211500.000000            200000.000000  ...
     2             211500.000000            200000.000000  ...

                          전용면적(㎡)                            \
ID      서울특별시 중랑구 신내동 화성.두산아파트 70 서울특별시 중랑구 신내동 화성.두산아파트 80
년도   분기
2018 1                       70.0                      80.0
     2                       70.0                      80.0
     3                       70.0                      80.0
     4                       70.0                      80.0
2019 1                       70.0                      80.0
     2                       70.0                      80.0
     3                       70.0                      80.0
     4                       70.0                      80.0
2020 1                       70.0                      80.0
     2                       70.0                      80.0
     3                       70.0                      80.0
     4                       70.0                      80.0
2021 1                       70.0                      80.0
     2                       70.0                      80.0
     3                       70.0                      80.0
     4                       70.0                      80.0
2022 1                       70.0                      80.0
     2                       70.0                      80.0

                                                                           \
ID      서울특별시 중랑구 중화동 극동 80 서울특별시 중랑구 중화동 동양엔파트 80 서울특별시 중랑구 중화동 범양프레체 20
년도   분기
2018 1                 80.0                   80.0                   20.0
     2                 80.0                   80.0                   20.0
     3                 80.0                   80.0                   20.0
     4                 80.0                   80.0                   20.0
2019 1                 80.0                   80.0                   20.0
     2                 80.0                   80.0                   20.0
     3                 80.0                   80.0                   20.0
     4                 80.0                   80.0                   20.0
2020 1                 80.0                   80.0                   20.0
     2                 80.0                   80.0                   20.0
     3                 80.0                   80.0                   20.0
     4                 80.0                   80.0                   20.0
2021 1                 80.0                   80.0                   20.0
     2                 80.0                   80.0                   20.0
     3                 80.0                   80.0                   20.0
     4                 80.0                   80.0                   20.0
2022 1                 80.0                   80.0                   20.0
     2                 80.0                   80.0                   20.0

                                                          \
ID      서울특별시 중랑구 중화동 중화동건영아파트 60 서울특별시 중랑구 중화동 태능에셈빌 80
년도   분기
2018 1                       60.0                   80.0
     2                       60.0                   80.0
     3                       60.0                   80.0
     4                       60.0                   80.0
2019 1                       60.0                   80.0
     2                       60.0                   80.0
     3                       60.0                   80.0
     4                       60.0                   80.0
2020 1                       60.0                   80.0
     2                       60.0                   80.0
     3                       60.0                   80.0
     4                       60.0                   80.0
2021 1                       60.0                   80.0
     2                       60.0                   80.0
     3                       60.0                   80.0
     4                       60.0                   80.0
2022 1                       60.0                   80.0
     2                       60.0                   80.0


ID      서울특별시 중랑구 중화동 한신아파트 50 서울특별시 중랑구 중화동 한신아파트 60 서울특별시 중랑구 중화동 한신아파트 80
년도   분기
2018 1                    50.0                   60.0                   80.0
     2                    50.0                   60.0                   80.0
     3                    50.0                   60.0                   80.0
     4                    50.0                   60.0                   80.0
2019 1                    50.0                   60.0                   80.0
     2                    50.0                   60.0                   80.0
     3                    50.0                   60.0                   80.0
     4                    50.0                   60.0                   80.0
2020 1                    50.0                   60.0                   80.0
     2                    50.0                   60.0                   80.0
     3                    50.0                   60.0                   80.0
     4                    50.0                   60.0                   80.0
2021 1                    50.0                   60.0                   80.0
     2                    50.0                   60.0                   80.0
     3                    50.0                   60.0                   80.0
     4                    50.0                   60.0                   80.0
2022 1                    50.0                   60.0                   80.0
     2                    50.0                   60.0                   80.0

[18 rows x 12489 columns]

In [42]:
table1.fillna(method='bfill', inplace=True)

                               거래금액(만원)                           \
ID      서울특별시 강남구 개포동 개포6차우성아파트1동~8동 80 서울특별시 강남구 개포동 개포주공1단지 40
년도   분기
2018 1                         129125.0                 145737.0
     2                         145000.0                 162588.0
     3                         160000.0                 167688.0
     4                         160000.0                 150000.0
2019 1                         160000.0                 142500.0
     2                         141000.0                 157539.0
     3                         154500.0                 187208.0
     4                         154500.0                 193706.0
2020 1                         154500.0                 182000.0
     2                         157583.0                 180000.0
     3                         173900.0                 180000.0
     4                         155400.0                 180000.0
2021 1                         155400.0                 180000.0
     2                         195000.0                 180000.0
     3                         210000.0                 180000.0
     4                         215000.0                 180000.0
2022 1                         215000.0                 180000.0
     2                         218667.0                 180000.0

                                                           \
ID      서울특별시 강남구 개포동 개포주공5단지 60 서울특별시 강남구 개포동 개포주공5단지 80
년도   분기
2018 1                  136667.0                 177417.0
     2                  129500.0                 177417.0
     3                  125000.0                 177417.0
     4                  125000.0                 141000.0
2019 1                  134500.0                 176000.0
     2                  142000.0                 179167.0
     3                  159500.0                 194667.0
     4                  166000.0                 194667.0
2020 1                  173500.0                 198000.0
     2                  167500.0                 186000.0
     3                  184800.0                 221714.0
     4                  202800.0                 221714.0
2021 1                  202800.0                 221714.0
     2                  202800.0                 274333.0
     3                  202800.0                 274333.0
     4                  202800.0                 282250.0
2022 1                  202800.0                 282250.0
     2                  202800.0                 282250.0

                                                           \
ID      서울특별시 강남구 개포동 개포주공6단지 50 서울특별시 강남구 개포동 개포주공6단지 60
년도   분기
2018 1                  125900.0                 135200.0
     2                  128000.0                 131650.0
     3                  118500.0                 137000.0
     4                  118500.0                 137000.0
2019 1                  118000.0                 132667.0
     2                  118000.0                 142900.0
     3                  148250.0                 157433.0
     4                  161500.0                 164500.0
2020 1                  157750.0                 173850.0
     2                  148000.0                 168250.0
     3                  120250.0                 185000.0
     4                  174333.0                 181000.0
2021 1                  189000.0                 181000.0
     2                  189000.0                 181000.0
     3                  189000.0                 181000.0
     4                  189000.0                 181000.0
2022 1                  189000.0                 181000.0
     2                  189000.0                 181000.0

                                                           \
ID      서울특별시 강남구 개포동 개포주공6단지 70 서울특별시 강남구 개포동 개포주공6단지 80
년도   분기
2018 1                  151500.0                 163500.0
     2                  150500.0                 163500.0
     3                  161525.0                 164500.0
     4                  162500.0                 164500.0
2019 1                  152000.0                 164500.0
     2                  174500.0                 178333.0
     3                  182125.0                 190500.0
     4                  189000.0                 196750.0
2020 1                  167500.0                 200000.0
     2                  182667.0                 206667.0
     3                  196750.0                 214500.0
     4                  217600.0                 228500.0
2021 1                  233250.0                 228500.0
     2                  233250.0                 260000.0
     3                  233250.0                 285000.0
     4                  233250.0                 285000.0
2022 1                  270000.0                 280000.0
     2                  270000.0                 280000.0

                                                           ...  \
ID      서울특별시 강남구 개포동 개포주공7단지 50 서울특별시 강남구 개포동 개포주공7단지 60  ...
년도   분기                                                    ...
2018 1                  120300.0                 134750.0  ...
     2                  120300.0                 127500.0  ...
     3                  143000.0                 141000.0  ...
     4                  143000.0                 141000.0  ...
2019 1                  119000.0                 131250.0  ...
     2                  136333.0                 149250.0  ...
     3                  149375.0                 161625.0  ...
     4                  167750.0                 170000.0  ...
2020 1                  154500.0                 171000.0  ...
     2                  144500.0                 171000.0  ...
     3                  144500.0                 179583.0  ...
     4                  175000.0                 192500.0  ...
2021 1                  180000.0                 200000.0  ...
     2                  215500.0                 200000.0  ...
     3                  215500.0                 200000.0  ...
     4                  215500.0                 200000.0  ...
2022 1                  211500.0                 200000.0  ...
     2                  211500.0                 200000.0  ...

                          전용면적(㎡)                            \
ID      서울특별시 중랑구 신내동 화성.두산아파트 70 서울특별시 중랑구 신내동 화성.두산아파트 80
년도   분기
2018 1                       70.0                      80.0
     2                       70.0                      80.0
     3                       70.0                      80.0
     4                       70.0                      80.0
2019 1                       70.0                      80.0
     2                       70.0                      80.0
     3                       70.0                      80.0
     4                       70.0                      80.0
2020 1                       70.0                      80.0
     2                       70.0                      80.0
     3                       70.0                      80.0
     4                       70.0                      80.0
2021 1                       70.0                      80.0
     2                       70.0                      80.0
     3                       70.0                      80.0
     4                       70.0                      80.0
2022 1                       70.0                      80.0
     2                       70.0                      80.0

                                                                           \
ID      서울특별시 중랑구 중화동 극동 80 서울특별시 중랑구 중화동 동양엔파트 80 서울특별시 중랑구 중화동 범양프레체 20
년도   분기
2018 1                 80.0                   80.0                   20.0
     2                 80.0                   80.0                   20.0
     3                 80.0                   80.0                   20.0
     4                 80.0                   80.0                   20.0
2019 1                 80.0                   80.0                   20.0
     2                 80.0                   80.0                   20.0
     3                 80.0                   80.0                   20.0
     4                 80.0                   80.0                   20.0
2020 1                 80.0                   80.0                   20.0
     2                 80.0                   80.0                   20.0
     3                 80.0                   80.0                   20.0
     4                 80.0                   80.0                   20.0
2021 1                 80.0                   80.0                   20.0
     2                 80.0                   80.0                   20.0
     3                 80.0                   80.0                   20.0
     4                 80.0                   80.0                   20.0
2022 1                 80.0                   80.0                   20.0
     2                 80.0                   80.0                   20.0

                                                          \
ID      서울특별시 중랑구 중화동 중화동건영아파트 60 서울특별시 중랑구 중화동 태능에셈빌 80
년도   분기
2018 1                       60.0                   80.0
     2                       60.0                   80.0
     3                       60.0                   80.0
     4                       60.0                   80.0
2019 1                       60.0                   80.0
     2                       60.0                   80.0
     3                       60.0                   80.0
     4                       60.0                   80.0
2020 1                       60.0                   80.0
     2                       60.0                   80.0
     3                       60.0                   80.0
     4                       60.0                   80.0
2021 1                       60.0                   80.0
     2                       60.0                   80.0
     3                       60.0                   80.0
     4                       60.0                   80.0
2022 1                       60.0                   80.0
     2                       60.0                   80.0


ID      서울특별시 중랑구 중화동 한신아파트 50 서울특별시 중랑구 중화동 한신아파트 60 서울특별시 중랑구 중화동 한신아파트 80
년도   분기
2018 1                    50.0                   60.0                   80.0
     2                    50.0                   60.0                   80.0
     3                    50.0                   60.0                   80.0
     4                    50.0                   60.0                   80.0
2019 1                    50.0                   60.0                   80.0
     2                    50.0                   60.0                   80.0
     3                    50.0                   60.0                   80.0
     4                    50.0                   60.0                   80.0
2020 1                    50.0                   60.0                   80.0
     2                    50.0                   60.0                   80.0
     3                    50.0                   60.0                   80.0
     4                    50.0                   60.0                   80.0
2021 1                    50.0                   60.0                   80.0
     2                    50.0                   60.0                   80.0
     3                    50.0                   60.0                   80.0
     4                    50.0                   60.0                   80.0
2022 1                    50.0                   60.0                   80.0
     2                    50.0                   60.0                   80.0

[18 rows x 12489 columns]

In [44]:
table1.round(1)

                               거래금액(만원)                           \
ID      서울특별시 강남구 개포동 개포6차우성아파트1동~8동 80 서울특별시 강남구 개포동 개포주공1단지 40
년도   분기
2018 1                         129125.0                 145736.8
     2                         145000.0                 162587.5
     3                         160000.0                 167687.5
     4                         160000.0                 150000.0
2019 1                         160000.0                 142500.0
     2                         141000.0                 157539.5
     3                         154500.0                 187208.3
     4                         154500.0                 193705.9
2020 1                         154500.0                 182000.0
     2                         157583.3                 180000.0
     3                         173900.0                 180000.0
     4                         155400.0                 180000.0
2021 1                         155400.0                 180000.0
     2                         195000.0                 180000.0
     3                         210000.0                 180000.0
     4                         215000.0                 180000.0
2022 1                         215000.0                 180000.0
     2                         218666.7                 180000.0

                                                           \
ID      서울특별시 강남구 개포동 개포주공5단지 60 서울특별시 강남구 개포동 개포주공5단지 80
년도   분기
2018 1                  136666.7                 177416.7
     2                  129500.0                 177416.7
     3                  125000.0                 177416.7
     4                  125000.0                 141000.0
2019 1                  134500.0                 176000.0
     2                  142000.0                 179166.7
     3                  159500.0                 194666.7
     4                  166000.0                 194666.7
2020 1                  173500.0                 198000.0
     2                  167500.0                 186000.0
     3                  184800.0                 221714.3
     4                  202800.0                 221714.3
2021 1                  202800.0                 221714.3
     2                  202800.0                 274333.3
     3                  202800.0                 274333.3
     4                  202800.0                 282250.0
2022 1                  202800.0                 282250.0
     2                  202800.0                 282250.0

                                                           \
ID      서울특별시 강남구 개포동 개포주공6단지 50 서울특별시 강남구 개포동 개포주공6단지 60
년도   분기
2018 1                  125900.0                 135200.0
     2                  128000.0                 131650.0
     3                  118500.0                 137000.0
     4                  118500.0                 137000.0
2019 1                  118000.0                 132666.7
     2                  118000.0                 142900.0
     3                  148250.0                 157433.3
     4                  161500.0                 164500.0
2020 1                  157750.0                 173850.0
     2                  148000.0                 168250.0
     3                  120250.0                 185000.0
     4                  174333.3                 181000.0
2021 1                  189000.0                 181000.0
     2                  189000.0                 181000.0
     3                  189000.0                 181000.0
     4                  189000.0                 181000.0
2022 1                  189000.0                 181000.0
     2                  189000.0                 181000.0

                                                           \
ID      서울특별시 강남구 개포동 개포주공6단지 70 서울특별시 강남구 개포동 개포주공6단지 80
년도   분기
2018 1                  151500.0                 163500.0
     2                  150500.0                 163500.0
     3                  161525.0                 164500.0
     4                  162500.0                 164500.0
2019 1                  152000.0                 164500.0
     2                  174500.0                 178333.3
     3                  182125.0                 190500.0
     4                  189000.0                 196750.0
2020 1                  167500.0                 200000.0
     2                  182666.7                 206666.7
     3                  196750.0                 214500.0
     4                  217600.0                 228500.0
2021 1                  233250.0                 228500.0
     2                  233250.0                 260000.0
     3                  233250.0                 285000.0
     4                  233250.0                 285000.0
2022 1                  270000.0                 280000.0
     2                  270000.0                 280000.0

                                                           ...  \
ID      서울특별시 강남구 개포동 개포주공7단지 50 서울특별시 강남구 개포동 개포주공7단지 60  ...
년도   분기                                                    ...
2018 1                  120300.0                 134750.0  ...
     2                  120300.0                 127500.0  ...
     3                  143000.0                 141000.0  ...
     4                  143000.0                 141000.0  ...
2019 1                  119000.0                 131250.0  ...
     2                  136333.3                 149250.0  ...
     3                  149375.0                 161625.0  ...
     4                  167750.0                 170000.0  ...
2020 1                  154500.0                 171000.0  ...
     2                  144500.0                 171000.0  ...
     3                  144500.0                 179583.3  ...
     4                  175000.0                 192500.0  ...
2021 1                  180000.0                 200000.0  ...
     2                  215500.0                 200000.0  ...
     3                  215500.0                 200000.0  ...
     4                  215500.0                 200000.0  ...
2022 1                  211500.0                 200000.0  ...
     2                  211500.0                 200000.0  ...

                          전용면적(㎡)                            \
ID      서울특별시 중랑구 신내동 화성.두산아파트 70 서울특별시 중랑구 신내동 화성.두산아파트 80
년도   분기
2018 1                       70.0                      80.0
     2                       70.0                      80.0
     3                       70.0                      80.0
     4                       70.0                      80.0
2019 1                       70.0                      80.0
     2                       70.0                      80.0
     3                       70.0                      80.0
     4                       70.0                      80.0
2020 1                       70.0                      80.0
     2                       70.0                      80.0
     3                       70.0                      80.0
     4                       70.0                      80.0
2021 1                       70.0                      80.0
     2                       70.0                      80.0
     3                       70.0                      80.0
     4                       70.0                      80.0
2022 1                       70.0                      80.0
     2                       70.0                      80.0

                                                                           \
ID      서울특별시 중랑구 중화동 극동 80 서울특별시 중랑구 중화동 동양엔파트 80 서울특별시 중랑구 중화동 범양프레체 20
년도   분기
2018 1                 80.0                   80.0                   20.0
     2                 80.0                   80.0                   20.0
     3                 80.0                   80.0                   20.0
     4                 80.0                   80.0                   20.0
2019 1                 80.0                   80.0                   20.0
     2                 80.0                   80.0                   20.0
     3                 80.0                   80.0                   20.0
     4                 80.0                   80.0                   20.0
2020 1                 80.0                   80.0                   20.0
     2                 80.0                   80.0                   20.0
     3                 80.0                   80.0                   20.0
     4                 80.0                   80.0                   20.0
2021 1                 80.0                   80.0                   20.0
     2                 80.0                   80.0                   20.0
     3                 80.0                   80.0                   20.0
     4                 80.0                   80.0                   20.0
2022 1                 80.0                   80.0                   20.0
     2                 80.0                   80.0                   20.0

                                                          \
ID      서울특별시 중랑구 중화동 중화동건영아파트 60 서울특별시 중랑구 중화동 태능에셈빌 80
년도   분기
2018 1                       60.0                   80.0
     2                       60.0                   80.0
     3                       60.0                   80.0
     4                       60.0                   80.0
2019 1                       60.0                   80.0
     2                       60.0                   80.0
     3                       60.0                   80.0
     4                       60.0                   80.0
2020 1                       60.0                   80.0
     2                       60.0                   80.0
     3                       60.0                   80.0
     4                       60.0                   80.0
2021 1                       60.0                   80.0
     2                       60.0                   80.0
     3                       60.0                   80.0
     4                       60.0                   80.0
2022 1                       60.0                   80.0
     2                       60.0                   80.0


ID      서울특별시 중랑구 중화동 한신아파트 50 서울특별시 중랑구 중화동 한신아파트 60 서울특별시 중랑구 중화동 한신아파트 80
년도   분기
2018 1                    50.0                   60.0                   80.0
     2                    50.0                   60.0                   80.0
     3                    50.0                   60.0                   80.0
     4                    50.0                   60.0                   80.0
2019 1                    50.0                   60.0                   80.0
     2                    50.0                   60.0                   80.0
     3                    50.0                   60.0                   80.0
     4                    50.0                   60.0                   80.0
2020 1                    50.0                   60.0                   80.0
     2                    50.0                   60.0                   80.0
     3                    50.0                   60.0                   80.0
     4                    50.0                   60.0                   80.0
2021 1                    50.0                   60.0                   80.0
     2                    50.0                   60.0                   80.0
     3                    50.0                   60.0                   80.0
     4                    50.0                   60.0                   80.0
2022 1                    50.0                   60.0                   80.0
     2                    50.0                   60.0                   80.0

[18 rows x 12489 columns]