In [6]:
import pandas as pd

In [7]:
df1 = pd.read_excel('data/아파트(매매)_실거래가18.xlsx')
df1

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,해제사유발생일,거래유형,중개사소재지
0,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,201801,3,"130,000",4,1987,언주로 3,NaN,-,-
1,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,201801,8,"117,000",2,1987,언주로 3,NaN,-,-
2,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,201801,11,"130,000",1,1987,언주로 3,NaN,-,-
3,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,201803,19,"139,500",2,1987,언주로 3,NaN,-,-
4,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,54.98,201804,5,"107,500",5,1987,언주로 3,NaN,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45698,서울특별시 중랑구 중화동,450,450.0,0.0,한신아파트(103~109),59.76,201806,23,"38,000",5,1997,동일로 752,NaN,-,-
45699,서울특별시 중랑구 중화동,274-51,274.0,51.0,한영(101),84.24,201803,21,"35,500",7,2003,동일로144길 74,NaN,-,-
45700,서울특별시 중랑구 중화동,274-51,274.0,51.0,한영(101),84.69,201806,29,"23,000",5,2003,동일로144길 74,NaN,-,-
45701,서울특별시 중랑구 중화동,274-75,274.0,75.0,한영(102),72.22,201804,5,"27,000",2,2003,동일로144길 74,NaN,-,-
45702,서울특별시 중랑구 중화동,274-75,274.0,75.0,한영(102),72.22,201804,23,"27,300",3,2003,동일로144길 74,NaN,-,-

In [8]:
df2 = pd.read_excel('data/아파트(매매)_실거래가18~19.xlsx')
df3 = pd.read_excel('data/아파트(매매)_실거래가19~20.xlsx')
df4 = pd.read_excel('data/아파트(매매)_실거래가20~21.xlsx')
df5 = pd.read_excel('data/아파트(매매)_실거래가21~22.xlsx')

In [9]:
df_rent1 = pd.read_excel('data/아파트(전월세)_실거래가_18.xlsx')
df_rent2 = pd.read_excel('data/아파트(전월세)_실거래가_18~19.xlsx')
df_rent3 = pd.read_excel('data/아파트(전월세)_실거래가_19~20.xlsx')
df_rent4 = pd.read_excel('data/아파트(전월세)_실거래가_20~21.xlsx')
df_rent5 = pd.read_excel('data/아파트(전월세)_실거래가_21~22.xlsx')

In [10]:
bigdf_sale = pd.concat([df1,df2,df3,df4,df5])

In [11]:
bigdf_rent = pd.concat([df_rent1,df_rent2,df_rent3,df_rent4,df_rent5])
bigdf_rent.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 864926 entries, 0 to 220269
Data columns (total 19 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   시군구            864926 non-null  object
 1   번지             863935 non-null  object
 2   본번             864821 non-null  float64
 3   부번             864821 non-null  float64
 4   단지명            864926 non-null  object
 5   전월세구분          864926 non-null  object
 6   전용면적(㎡)        864926 non-null  float64
 7   계약년월           864926 non-null  int64
 8   계약일            864926 non-null  int64
 9   보증금(만원)        864926 non-null  object
 10  월세(만원)         864926 non-null  object
 11  층              864926 non-null  int64
 12  건축년도           864754 non-null  float64
 13  도로명            864926 non-null  object
 14  계약기간           864926 non-null  object
 15  계약구분           864926 non-null  object
 16  갱신요구권 사용       864926 non-null  object
 17  종전계약 보증금 (만원)  864926 non-null  object
 18  종전계약 월세 (만원)   864926 non-null  object
dtypes: float64(4), int64(3), object(12)
memory usage: 132.0+ MB

In [12]:
bigdf_rent.to_excel('data/bigreant.xlsx')

In [13]:
bigdf_sale = bigdf_sale.sort_values('계약년월')

In [14]:
bigdf_sale.drop(['번지','본번','부번','해제사유발생일','중개사소재지'], axis=1, inplace=True)
bigdf_sale

,시군구,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,거래유형
0,서울특별시 강남구 개포동,개포6차우성아파트1동~8동,79.9700,201801,3,"130,000",4,1987,언주로 3,-
23181,서울특별시 동작구 신대방동,롯데관악타워,149.7400,201801,4,"74,000",27,1996,보라매로5길 51,-
23176,서울특별시 동작구 신대방동,경남교수,84.9400,201801,25,"65,000",17,2001,여의대방로10길 14,-
23157,서울특별시 동작구 상도동,힐스테이트 상도 프레스티지,84.8840,201801,27,"85,800",15,2013,상도로 346-2,-
23156,서울특별시 동작구 상도동,힐스테이트 상도 프레스티지,120.0040,201801,24,"104,500",12,2013,상도로 346-2,-
...,...,...,...,...,...,...,...,...,...,...
746,서울특별시 강남구 삼성동,삼성동힐스테이트 1단지,31.4020,202206,20,"126,000",15,2008,학동로68길 29,중개거래
8370,서울특별시 노원구 공릉동,태강아파트,49.6000,202206,26,"60,000",5,1999,공릉로34길 62,중개거래
8369,서울특별시 노원구 공릉동,태강아파트,59.3400,202206,21,"70,500",4,1999,공릉로34길 62,중개거래
12157,서울특별시 동작구 대방동,보라매센트럴타운,17.3185,202206,8,"27,550",7,2021,여의대방로 200,중개거래
21641,서울특별시 용산구 문배동,용산큐브,13.0100,202206,13,"20,000",17,2013,백범로90길 12,중개거래

In [15]:
bigdf_sale['전용면적(㎡)'] = bigdf_sale['전용면적(㎡)'].round(-1)
bigdf_sale

,시군구,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,거래유형
0,서울특별시 강남구 개포동,개포6차우성아파트1동~8동,80.0,201801,3,"130,000",4,1987,언주로 3,-
23181,서울특별시 동작구 신대방동,롯데관악타워,150.0,201801,4,"74,000",27,1996,보라매로5길 51,-
23176,서울특별시 동작구 신대방동,경남교수,80.0,201801,25,"65,000",17,2001,여의대방로10길 14,-
23157,서울특별시 동작구 상도동,힐스테이트 상도 프레스티지,80.0,201801,27,"85,800",15,2013,상도로 346-2,-
23156,서울특별시 동작구 상도동,힐스테이트 상도 프레스티지,120.0,201801,24,"104,500",12,2013,상도로 346-2,-
...,...,...,...,...,...,...,...,...,...,...
746,서울특별시 강남구 삼성동,삼성동힐스테이트 1단지,30.0,202206,20,"126,000",15,2008,학동로68길 29,중개거래
8370,서울특별시 노원구 공릉동,태강아파트,50.0,202206,26,"60,000",5,1999,공릉로34길 62,중개거래
8369,서울특별시 노원구 공릉동,태강아파트,60.0,202206,21,"70,500",4,1999,공릉로34길 62,중개거래
12157,서울특별시 동작구 대방동,보라매센트럴타운,20.0,202206,8,"27,550",7,2021,여의대방로 200,중개거래
21641,서울특별시 용산구 문배동,용산큐브,10.0,202206,13,"20,000",17,2013,백범로90길 12,중개거래

In [16]:
bigdf_sale.drop(bigdf_sale[bigdf_sale['거래유형'].str.contains('직거래')].index, inplace=True)
bigdf_sale

,시군구,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,거래유형
0,서울특별시 강남구 개포동,개포6차우성아파트1동~8동,80.0,201801,3,"130,000",4,1987,언주로 3,-
23181,서울특별시 동작구 신대방동,롯데관악타워,150.0,201801,4,"74,000",27,1996,보라매로5길 51,-
23176,서울특별시 동작구 신대방동,경남교수,80.0,201801,25,"65,000",17,2001,여의대방로10길 14,-
23157,서울특별시 동작구 상도동,힐스테이트 상도 프레스티지,80.0,201801,27,"85,800",15,2013,상도로 346-2,-
23156,서울특별시 동작구 상도동,힐스테이트 상도 프레스티지,120.0,201801,24,"104,500",12,2013,상도로 346-2,-
...,...,...,...,...,...,...,...,...,...,...
746,서울특별시 강남구 삼성동,삼성동힐스테이트 1단지,30.0,202206,20,"126,000",15,2008,학동로68길 29,중개거래
8370,서울특별시 노원구 공릉동,태강아파트,50.0,202206,26,"60,000",5,1999,공릉로34길 62,중개거래
8369,서울특별시 노원구 공릉동,태강아파트,60.0,202206,21,"70,500",4,1999,공릉로34길 62,중개거래
12157,서울특별시 동작구 대방동,보라매센트럴타운,20.0,202206,8,"27,550",7,2021,여의대방로 200,중개거래
21641,서울특별시 용산구 문배동,용산큐브,10.0,202206,13,"20,000",17,2013,백범로90길 12,중개거래

In [17]:
bigdf_sale['단지명'] = bigdf_sale['단지명'].str.replace(r'\([^)]*\)', '', regex=True)

In [18]:
bigdf_sale.to_excel('data/아파트매매정리.xlsx')

In [19]:
df = pd.read_excel('data/아파트매매정리.xlsx')

In [20]:
df

,Unnamed: 0,시군구,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,거래유형
0,0,서울특별시 강남구 개포동,개포6차우성아파트1동~8동,80,201801,3,"130,000",4,1987,언주로 3,-
1,23181,서울특별시 동작구 신대방동,롯데관악타워,150,201801,4,"74,000",27,1996,보라매로5길 51,-
2,23176,서울특별시 동작구 신대방동,경남교수,80,201801,25,"65,000",17,2001,여의대방로10길 14,-
3,23157,서울특별시 동작구 상도동,힐스테이트 상도 프레스티지,80,201801,27,"85,800",15,2013,상도로 346-2,-
4,23156,서울특별시 동작구 상도동,힐스테이트 상도 프레스티지,120,201801,24,"104,500",12,2013,상도로 346-2,-
...,...,...,...,...,...,...,...,...,...,...,...
285394,746,서울특별시 강남구 삼성동,삼성동힐스테이트 1단지,30,202206,20,"126,000",15,2008,학동로68길 29,중개거래
285395,8370,서울특별시 노원구 공릉동,태강아파트,50,202206,26,"60,000",5,1999,공릉로34길 62,중개거래
285396,8369,서울특별시 노원구 공릉동,태강아파트,60,202206,21,"70,500",4,1999,공릉로34길 62,중개거래
285397,12157,서울특별시 동작구 대방동,보라매센트럴타운,20,202206,8,"27,550",7,2021,여의대방로 200,중개거래
285398,21641,서울특별시 용산구 문배동,용산큐브,10,202206,13,"20,000",17,2013,백범로90길 12,중개거래

In [21]:
del df['Unnamed: 0']

In [22]:
df['ID'] = df['시군구'] + ' ' + df['단지명'] + ' ' + df['전용면적(㎡)'].astype('str')
df.to_excel('data/ID없는버전.xlsx')
df

,시군구,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,거래유형,ID
0,서울특별시 강남구 개포동,개포6차우성아파트1동~8동,80,201801,3,"130,000",4,1987,언주로 3,-,서울특별시 강남구 개포동 개포6차우성아파트1동~8동 80
1,서울특별시 동작구 신대방동,롯데관악타워,150,201801,4,"74,000",27,1996,보라매로5길 51,-,서울특별시 동작구 신대방동 롯데관악타워 150
2,서울특별시 동작구 신대방동,경남교수,80,201801,25,"65,000",17,2001,여의대방로10길 14,-,서울특별시 동작구 신대방동 경남교수 80
3,서울특별시 동작구 상도동,힐스테이트 상도 프레스티지,80,201801,27,"85,800",15,2013,상도로 346-2,-,서울특별시 동작구 상도동 힐스테이트 상도 프레스티지 80
4,서울특별시 동작구 상도동,힐스테이트 상도 프레스티지,120,201801,24,"104,500",12,2013,상도로 346-2,-,서울특별시 동작구 상도동 힐스테이트 상도 프레스티지 120
...,...,...,...,...,...,...,...,...,...,...,...
285394,서울특별시 강남구 삼성동,삼성동힐스테이트 1단지,30,202206,20,"126,000",15,2008,학동로68길 29,중개거래,서울특별시 강남구 삼성동 삼성동힐스테이트 1단지 30
285395,서울특별시 노원구 공릉동,태강아파트,50,202206,26,"60,000",5,1999,공릉로34길 62,중개거래,서울특별시 노원구 공릉동 태강아파트 50
285396,서울특별시 노원구 공릉동,태강아파트,60,202206,21,"70,500",4,1999,공릉로34길 62,중개거래,서울특별시 노원구 공릉동 태강아파트 60
285397,서울특별시 동작구 대방동,보라매센트럴타운,20,202206,8,"27,550",7,2021,여의대방로 200,중개거래,서울특별시 동작구 대방동 보라매센트럴타운 20
285398,서울특별시 용산구 문배동,용산큐브,10,202206,13,"20,000",17,2013,백범로90길 12,중개거래,서울특별시 용산구 문배동 용산큐브 10

In [23]:
df.set_index('ID', inplace=True)
df.to_excel('data/ID있는버전.xlsx')