In [1]:
from haversine import haversine, Unit
from geopy.geocoders import Nominatim

import numpy as np
import pandas as pd
import os
import re

In [8]:
ilho = pd.read_excel('data/1호선.xlsx', header=None)
del ilho[0]
address = ilho[2]
address

0            경기도 부천시 역곡로 1
1          경기도 부천시 경인로 363
2            경기도 부천시 부천로 1
3           경기도 부천시 중동로 73
4          경기도 부천시 송내대로 43
5         인천광역시 부평구 수변로 22
6         인천광역시 부평구 광장로 14
7     인천광역시 부평구 마장로55번길 14
8       인천광역시 부평구 동암광장로 10
9     인천광역시 남동구 석정로 522-14
10    인천광역시 미추홀구 주안로 95-19
11    인천광역시 미추홀구 숙골로24번길 9
12      인천광역시 미추홀구 경인로 129
13      인천광역시 미추홀구 경인로 129
14       인천광역시 중구 참외전로 121
15      서울특별시 동대문구 회기로 196
16       서울특별시 동대문구 휘경로 27
17      서울특별시 동대문구 한천로 472
18       서울특별시 노원구 화랑로 341
19      서울특별시 노원구 석계로 98-2
20     서울특별시 노원구 월계로53길 40
21       서울특별시 도봉구 덕릉로 376
22     서울특별시 도봉구 마들로11길 77
23    서울특별시 도봉구 도봉로150다길 3
24     서울특별시 도봉구 도봉로170길 2
25    서울특별시 도봉구 도봉로 964-33
26        경기도 의정부시 평화로 221
27        경기도 의정부시 평화로 363
28        경기도 의정부시 평화로 525
29        경기도 의정부시 평화로 633
30        경기도 의정부시 평화로 757
31         경기도 양주시 평화로 919
32         경기도 양주시 덕계로 126
33        경기도 양주시 화합로 1356
34       경기도 동두천시 평화로 2285
35       경기도 동두천시 동두천로 228
36       경기도 동두천시 평화로 2539
37       경기도 동두천시 평화로 2687
38       경기도 동두천시 평화로 2925
Name: 2, dtype: object

In [11]:
ilho

        1                     2
0      역곡         경기도 부천시 역곡로 1
1      소사       경기도 부천시 경인로 363
2      부천         경기도 부천시 부천로 1
3      중동        경기도 부천시 중동로 73
4      송내       경기도 부천시 송내대로 43
5      부개      인천광역시 부평구 수변로 22
6      부평      인천광역시 부평구 광장로 14
7      백운  인천광역시 부평구 마장로55번길 14
8      동암    인천광역시 부평구 동암광장로 10
9      간석  인천광역시 남동구 석정로 522-14
10     주안  인천광역시 미추홀구 주안로 95-19
11     도화  인천광역시 미추홀구 숙골로24번길 9
12    제물포    인천광역시 미추홀구 경인로 129
13     도원    인천광역시 미추홀구 경인로 129
14    동인천     인천광역시 중구 참외전로 121
15     회기    서울특별시 동대문구 회기로 196
16    외대앞     서울특별시 동대문구 휘경로 27
17    신이문    서울특별시 동대문구 한천로 472
18     석계     서울특별시 노원구 화랑로 341
19    광운대    서울특별시 노원구 석계로 98-2
20     월계   서울특별시 노원구 월계로53길 40
21     녹천     서울특별시 도봉구 덕릉로 376
22     창동   서울특별시 도봉구 마들로11길 77
23     방학  서울특별시 도봉구 도봉로150다길 3
24     도봉   서울특별시 도봉구 도봉로170길 2
25    도봉산  서울특별시 도봉구 도봉로 964-33
26    망월사      경기도 의정부시 평화로 221
27     회룡      경기도 의정부시 평화로 363
28    의정부      경기도 의정부시 평화로 525
29     가능      경기도 의정부시 평화로 633
30     녹양      경기도 의정부시 평화로 757
31     양주       경기도 양주시 평화로 919
32     덕계       경기도 양주시 덕계로 126
33     덕정      경기도 양주시 화합로 1356
34     지행     경기도 동두천시 평화로 2285
35  동두천중앙     경기도 동두천시 동두천로 228
36     보산     경기도 동두천시 평화로 2539
37    동두천     경기도 동두천시 평화로 2687
38    소요산     경기도 동두천시 평화로 2925

In [21]:
geo_local = Nominatim(user_agent='South Korea') # 지역선택

def geocoding(address): 
    geo = geo_local.geocode(address)
    x_y = [geo.latitude, geo.longitude]
    return x_y

latitude = []
longitude = []
exception_addr = []

for i in address:
    try:
        latitude.append(geocoding(i)[0])
        longitude.append(geocoding(i)[1])
    except:
        latitude.append(i)
        longitude.append(i)
        exception_addr.append(i)

address_df = pd.DataFrame({'역명':ilho[1], '위도':latitude,'경도':longitude})
address_df

       역명               위도               경도
0      역곡        37.485219       126.811811
1      소사        37.482328       126.791652
2      부천        37.484037       126.782645
3      중동        37.498509       126.768093
4      송내        37.529562        126.76092
5      부개        37.487156        126.73944
6      부평        37.490535       126.724067
7      백운        37.482859       126.707224
8      동암        37.470988       126.701999
9      간석        37.466049       126.696852
10     주안        37.464072       126.680257
11     도화        37.465809       126.670011
12    제물포        37.460937       126.696573
13     도원        37.460937       126.696573
14    동인천        37.474882       126.631585
15     회기        37.589943       127.056703
16    외대앞         37.59377       127.068324
17    신이문          37.5911        127.06906
18     석계        37.639274       127.109507
19    광운대        37.614916       127.064796
20     월계        37.634521       127.058712
21     녹천        37.645436       127.049104
22     창동        37.654045       127.051259
23     방학        37.668071       127.044451
24     도봉        37.679208       127.045547
25    도봉산        37.689836       127.046078
26    망월사        37.764569       127.043772
27     회룡        37.764569       127.043772
28    의정부        37.737704        127.04605
29     가능        37.748566        127.04429
30     녹양        37.759442       127.042336
31     양주          37.7742       127.044756
32     덕계  경기도 양주시 덕계로 126  경기도 양주시 덕계로 126
33     덕정        37.843438       127.061637
34     지행        37.892269       127.055806
35  동두천중앙        37.901809       127.056541
36     보산        37.914153       127.057251
37    동두천        37.927826       127.054782
38    소요산        37.949192       127.061287

In [23]:
address_df.to_excel('data/ilho.xlsx')