In [2]:
from haversine import haversine, Unit
from geopy.geocoders import Nominatim

import numpy as np
import pandas as pd
import os
import re

In [9]:
chilho = pd.read_excel('data/역_7호선.xlsx', header=None)
del chilho[0]
chilho.dropna(axis=0, inplace=True)
address = chilho[2]
address

0          경기도 의정부시 동일로 121
1        경기도 부천시 길주로 지하 626
2        경기도 부천시 길주로 지하 502
3        경기도 부천시 길주로 지하 406
4        경기도 부천시 길주로 지하 314
5        경기도 부천시 길주로 지하 202
6        경기도 부천시 길주로 지하 104
7      인천광역시 부평구 길주로 지하 713
8      인천광역시 부평구 길주로 지하 623
9      인천광역시 부평구 길주로 지하 527
10    인천광역시 부평구 길주로 지하 379
11         인천광역시 서구 가석로 257
Name: 2, dtype: object

In [10]:
geo_local = Nominatim(user_agent='South Korea') # 지역선택

def geocoding(address): 
    geo = geo_local.geocode(address)
    x_y = [geo.latitude, geo.longitude]
    return x_y

latitude = []
longitude = []
exception_addr = []

for i in address:
    try:
        latitude.append(geocoding(i)[0])
        longitude.append(geocoding(i)[1])
    except:
        latitude.append(i)
        longitude.append(i)
        exception_addr.append(i)

address_df = pd.DataFrame({'역명':chilho[1], '위도':latitude,'경도':longitude})
address_df

         역명                     위도                     경도
0        장암              37.699974             127.052908
1       까치울     경기도 부천시 길주로 지하 626     경기도 부천시 길주로 지하 626
2   부천종합운동장     경기도 부천시 길주로 지하 502     경기도 부천시 길주로 지하 502
3        춘의     경기도 부천시 길주로 지하 406     경기도 부천시 길주로 지하 406
4       신중동     경기도 부천시 길주로 지하 314     경기도 부천시 길주로 지하 314
5      부천시청     경기도 부천시 길주로 지하 202     경기도 부천시 길주로 지하 202
6        상동     경기도 부천시 길주로 지하 104     경기도 부천시 길주로 지하 104
7     삼산체육관   인천광역시 부평구 길주로 지하 713   인천광역시 부평구 길주로 지하 713
8       굴포천   인천광역시 부평구 길주로 지하 623   인천광역시 부평구 길주로 지하 623
9      부평구청   인천광역시 부평구 길주로 지하 527   인천광역시 부평구 길주로 지하 527
10       산곡  인천광역시 부평구 길주로 지하 379   인천광역시 부평구 길주로 지하 379
11       석남              37.517328             126.677523

In [11]:
address_df.to_excel('data/chilho.xlsx')