In [1]:
from haversine import haversine, Unit
from geopy.geocoders import Nominatim

import numpy as np
import pandas as pd
import os
import re

In [2]:
ilho = pd.read_excel('data/역_1호선.xlsx', header=None)
del ilho[0]
address = ilho[2]
address

0              경기도 부천시 역곡로 1
1            경기도 부천시 경인로 363
2              경기도 부천시 부천로 1
3             경기도 부천시 중동로 73
4            경기도 부천시 송내대로 43
               ...
69     충청남도 천안시 서북구 쌍용19로 20
70       충청남도 아산시 배방읍 희망로 90
71    충청남도 아산시 배방읍 온천대로 1967
72        충청남도 아산시 온천대로 1496
73       충청남도 아산시 신창면 행목로 50
Name: 2, Length: 74, dtype: object

In [3]:
geo_local = Nominatim(user_agent='South Korea') # 지역선택

def geocoding(address): 
    geo = geo_local.geocode(address)
    x_y = [geo.latitude, geo.longitude]
    return x_y

latitude = []
longitude = []
exception_addr = []

for i in address:
    try:
        latitude.append(geocoding(i)[0])
        longitude.append(geocoding(i)[1])
    except:
        latitude.append(i)
        longitude.append(i)
        exception_addr.append(i)

address_df = pd.DataFrame({'역명':ilho[1], '위도':latitude,'경도':longitude})
address_df

      역명                   위도                   경도
0     역곡            37.485219           126.811811
1     소사            37.482328           126.791652
2     부천            37.484037           126.782645
3     중동            37.498509           126.768093
4     송내            37.529562            126.76092
..   ...                  ...                  ...
69    쌍용            36.793718           127.121291
70    아산  충청남도 아산시 배방읍 희망로 90  충청남도 아산시 배방읍 희망로 90
71    배방            36.777699            127.05299
72  온양온천            36.780553           127.003156
73    신창            36.769788           126.951823

[74 rows x 3 columns]

In [5]:
address_df.to_excel('data/ilho.xlsx')